<!-- 模板继承 -->

{extend name="template/create" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
        </div>
        <h4 class="panel-title">{:$mate_operate}-{:$mate_title}</h4>
    </div>
    <div class="panel-body panel-body-nopadding">

        <form class="form-horizontal form-bordered" id="submitForm" action="" method="post">

            <div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>方案名称：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="方案名称" name="title" value="{$vo.title ?? ''}" required>
                </div>
            </div>
            <div class="form-group">

                <label class="col-sm-3 control-label">缩略图：</label>

                <div class="col-sm-6">

                    <input id="fileone" type="file" class="file-loading">

                    <input type="hidden" id="picurl" placeholder="缩略图" name="picurl" value="{$vo.picurl ?? ''}">

                </div>

            </div>

			 <div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>排序（由高至低显示）：</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" placeholder="排序" name="orderid" value="{$vo.orderid ?? '0'}" required>
                </div>
            </div>
            {php}
                if(empty($vo['use_type'])){
                    $vo['use_type'] =[];
                }
            {/php}
            <div class="form-group">
                <label class="col-sm-3 control-label">支持类别：</label>
                <div class="col-sm-6  wh-inline">
                    <div class="rdio rdio-primary">
                        <input type="checkbox" name="use_type[]" id="use_type-1" {if condition="in_array(1,$vo['use_type'])"} checked {/if} value="1">
                        <label for="use_type-1">二手车</label>
                    </div>
                    <div class="rdio rdio-primary">
                        <input type="checkbox" name="use_type[]" id="use_type-2" {if condition="in_array(2,$vo['use_type'])"} checked {/if} value="2">
                        <label for="use_type-2">新车（三年）</label>
                    </div>
					<div class="rdio rdio-primary">
                        <input type="checkbox" name="use_type[]" id="use_type-4" {if condition="in_array(4,$vo['use_type'])"} checked {/if} value="4">
                        <label for="use_type-4">新车（四年）</label>
                    </div>
                    <div class="rdio rdio-primary">
                        <input type="checkbox" name="use_type[]" id="use_type-3" {if condition="in_array(3,$vo['use_type'])"} checked {/if} value="3">
                        <label for="use_type-3">新车（五年）</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>参数1：</label>
                <div class="col-sm-6">
                    <div style="float: left;"><span style="color:#f00;">二手车</span>参数示例：</div>
                    <div style="float: left;">平安租赁金融公式:车价×0.9<span style="color:#f00;">（参数1）</span>=贷款额，贷款额×0.035<span style="color:#f00;">（参数3）</span>=月还<br>
                        优信金融公式:车价×1.3<span style="color:#f00;">（参数1）</span>×0.68<span style="color:#f00;">（参数2）</span>=贷款额，贷款额×0.035<span style="color:#f00;">（参数3）</span>=月还</div>
                    <input type="text" class="form-control" placeholder="参数1" name="param1" value="{$vo.param1 ?? ''}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">参数2：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="参数2" name="param2" value="{$vo.param2 ?? 1}" >
                </div>
            </div>
			<div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>参数3：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="参数3" name="param3" value="{$vo.param3 ?? ''}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>参数1：</label>
                <div class="col-sm-6">
                    <div style="float: left;"><span style="color:#f00;">新车（三年）</span>参数示例：</div>
                    <div style="float: left;">金融公式:车价×0.8<span style="color:#f00;">（参数1）</span>=贷款额，贷款额×0.0331<span style="color:#f00;">（参数2）</span>=月还<br>
                    </div>
                    <input type="text" class="form-control" placeholder="参数1" name="new_san_param1" value="{$vo.new_san_param1 ?? ''}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">参数2：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="参数2" name="new_san_param2" value="{$vo.new_san_param2 ?? ''}" >
                </div>
            </div>

			<div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>参数1：</label>
                <div class="col-sm-6">
                    <div style="float: left;"><span style="color:#f00;">新车（四年）</span>参数示例：</div>
                    <div style="float: left;">金融公式:车价×0.8<span style="color:#f00;">（参数1）</span>=贷款额，贷款额×0.0331<span style="color:#f00;">（参数2）</span>=月还<br>
                    </div>
                    <input type="text" class="form-control" placeholder="参数1" name="new_si_param1" value="{$vo.new_si_param1 ?? ''}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">参数2：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="参数2" name="new_si_param2" value="{$vo.new_si_param2 ?? ''}" >
                </div>
            </div>
			
			
            <div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>参数1：</label>
                <div class="col-sm-6">
                    <div style="float: left;"><span style="color:#f00;">新车（五年）</span>参数示例：</div>
                    <div style="float: left;">金融公式:车价×0.8<span style="color:#f00;">（参数1）</span>=贷款额，贷款额×0.0224<span style="color:#f00;">（参数2）</span>=月还<br>
                    </div>
                    <input type="text" class="form-control" placeholder="参数1" name="new_wu_param1" value="{$vo.new_wu_param1 ?? ''}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">参数2：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="参数2" name="new_wu_param2" value="{$vo.new_wu_param2 ?? ''}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="描述" name="description" >{$vo.description ?? ''}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">内容：</label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="" name="content"
                              id="container">{$vo.content ?? ''}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-6  wh-inline">
                    <div class="rdio rdio-primary">
                        <input type="radio" name="status" id="status-1" value="1">
                        <label for="status-1">启用</label>
                    </div>
                    <div class="rdio rdio-primary">
                        <input type="radio" name="status" id="status-0" value="0">
                        <label for="status-0">禁用</label>
                    </div>
                </div>
            </div>

            {if condition="$Request.action eq 'update'"}
            <div class="form-group">
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-6"><label class="control-label">{$vo.create_time|date='Y-m-d H:i:s',###}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">上次更新：</label>
                <div class="col-sm-6"><label class="control-label">{$vo.update_time|date='Y-m-d H:i:s',###}</label>
                </div>
            </div>
            {/if}

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="hidden" name="id" value="{$vo.id ?? ''}">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                </div>
            </div><!-- panel-footer -->

        </form>

    </div><!-- panel-body -->
    {/block}
    {block name="fileinput"}{__block__}{/block}
    {block name="ueditor"}{__block__}{/block}
    {block name="script"}
    <script>
        fileinputOne('fileone', 'picurl');
        $(document).ready(function () {
            $("[name='status'][value='{$vo.status ?? '1'}']").attr("checked", true);
            //实例化编辑器 宽高自适应
            var ue = UE.getEditor('container', {initialFrameWidth: null});
            fileinputOne("fileone", "picurl");

            $('#submitForm').bootstrapValidator({
                message: '这个值是无效的',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                }
            });
        });
    </script>
    {/block}
