<div class="brand_pos"  {if condition="$brand_more eq 1"} style="left:0px;" {/if}>
<div class="brand_tit fb tc">品牌<a href="#" class="brand_close"><img src="__IMG__/sj02.png"/></a></div>
<div class="brand_index">
    <a href="#A">a</a>
    <a href="#B">b</a>
    <a href="#C">c</a>
    <a href="#D">d</a>
    <a href="#E">e</a>
    <a href="#F">f</a>
    <a href="#G">g</a>
    <a href="#H">h</a>
    <a href="#I">i</a>
    <a href="#J">j</a>
    <a href="#K">k</a>
    <a href="#L">l</a>
    <a href="#M">m</a>
    <a href="#N">n</a>
    <a href="#O">o</a>
    <a href="#P">p</a>
    <a href="#Q">q</a>
    <a href="#R">r</a>
    <a href="#S">s</a>
    <a href="#T">t</a>
    <a href="#U">u</a>
    <a href="#V">v</a>
    <a href="#W">w</a>
    <a href="#X">x</a>
    <a href="#Y">y</a>
    <a href="#Z">z</a>
    <a href="#">#</a>
</div>
<dl class="brand_list">
    <dt>热门车型</dt>
    <dd>
        <ul class="brand_hot tc">
            {volist name="car_brand.recommend" id="recommend"}
                <li>
                    <!--<a href="{:url('OldCar/index',['base_param'=>$base_param,'brand'=>$recommend.p_pinpai_id])}">-->
                    <a href="javascript:void(0);" class="brand_con_click" brand="{$recommend.p_pinpai_id}">
                        <img src="{$recommend.p_pinpai_logo}"/><br />{$recommend.p_pinpai}</a>
                </li>
            {/volist}
            <div class="cl"></div>
        </ul>
    </dd>
    {volist name="car_brand.list" id="list"}
        <dt id="{$list.shouzimu}">{$list.shouzimu}</dt>
        {volist name="list.list" id="b_data"}
            <dd>
                <a href="javascript:void(0);" class="brand_con_click" brand="{$b_data.p_pinpai_id}">
                    <span class="fl brand_hot_pic tc"><img src="{$b_data.p_pinpai_logo}" alt="" /></span>
                    <span class="fr brand_hot_name">{$b_data.p_pinpai}</span>
                    <div class="cl"></div>
                </a>
            </dd>
        {/volist}
    {/volist}
</dl>
</div>
<div class="brand_wrap">
    <a href="javascript:void(0);" class="brand_wrap_close"><img src="__IMG__/close.png"/></a>
    <ul class="brand_con">

    </ul>
</div>





