<!-- 模板继承 -->
{extend name="template/create" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
        </div>
        <h4 class="panel-title">{:$mate_operate}-{:$mate_title}</h4>
    </div>
    <div class="panel-body panel-body-nopadding">

        <form class="form-horizontal form-bordered" id="submitForm" action="" method="post">


            <div class="form-group">
                <label class="col-sm-3 control-label">店铺名称:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="title" placeholder="店铺名称"
                           value="{$vo.title ?? ''}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">店铺logo：</label>
                <div class="col-sm-6">
                    <input id="fileone" type="file" class="file-loading">
                    <input type="hidden" id="picurl" name="picurl" value="{$vo.picurl ?? ''}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">拥有人:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="manned" placeholder="拥有人" value="{$vo.manned ?? ''}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>手机号：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="手机号" name="mobile" value="{$vo.mobile ?? ''}"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>qq：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="qq号" name="qq" value="{$vo.qq ?? ''}"
                           required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">所在城市：</label>
                <div class="col-sm-6">
                    <select name="pro" class="select2">
                        <option value="">请选择所在城市</option>
                        {volist name="pro" id="info"}
                        <option value="{$info.name}">{$info.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-6 wh-inline">
                    <div class="rdio rdio-primary">
                        <input type="radio" name="status" id="status-1" value="1">
                        <label for="status-1">启用</label>
                    </div>
                    <div class="rdio rdio-primary">
                        <input type="radio" name="status" id="status-0" value="0">
                        <label for="status-0">禁用</label>
                    </div>
                </div>
            </div>
            {if condition="$Request.action eq 'update'"}
            <div class="form-group">
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-6">
                    <label class="control-label"> {$vo.create_time}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">上次更新：</label>
                <div class="col-sm-6">
                    <label class="control-label"> {$vo.update_time}</label>
                </div>
            </div>
            {/if}

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="hidden" name="id" value="{$vo.id ?? ''}">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                </div>
            </div><!-- panel-footer -->

        </form>

    </div><!-- panel-body -->
</div>
{/block}
{block name="fileinput"}{__block__}{/block}
{block name="ueditor"}{__block__}{/block}
{block name="js"}
<script src="__CONSOLE__/js/descates.js"></script>
{/block}
{block name="script"}
<script>
    $(document).ready(function () {


        $("[name='status'][value='{$vo.status ?? '1'}']").attr("checked", true);
        $("[name='typeid']").find("[value='{$vo.typeid ?? ''}']").attr("selected", true);
        $("[name='pro']").find("[value='{$vo.pro ?? ''}']").attr("selected", true);

        fileinputOne("fileone", "picurl");

        $('#submitForm').bootstrapValidator({
            message: '这个值是无效的',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                mobile: {
                    validators: {
                        regexp: {
                            regexp:/^1[34578]\d{9}$/,
                            message: '手机号格式不正确'
                        }
                    }
                },
            }
        });
        //select2
        jQuery(".select2").select2({
            width: '100%',
            minimumResultsForSearch: -1
        });
    });
    $("[name='level_id']").live('change', function () {
        $(".more").css("display", 'block')
        $(".one").css("display", 'block')
    });


</script>
{/block}

