<!-- 模板继承 -->
{extend name="template/create" /}
{block name="content"}
<style>
    .form-control1{
        width: 50%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;}
    .form-control2{
        width: 20%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;}
</style>
<div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title">{:$mate_operate}-{:$mate_title}</h4>
        </div>
        <div class="panel-body panel-body-nopadding">

        <form class="form-horizontal form-bordered" id="submitForm" action="" method="post" >
        <div class="form-group">
              <label class="col-sm-3 control-label">用户名:</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" name="username" placeholder="请输入用户名"  value="{$vo.username ?? ''}" {if condition="$Request.action eq 'update'"}readonly1{else/}required{/if} >
              </div>
         </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span>*</span>手机号：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="手机号" name="mobile" value="{$vo.mobile ?? ''}"  required>
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">会员级别：</label>
                <div class="col-sm-6">
                    <select name="level_lv" class="select2" onchange="ctype(this.value)">
                        <!--<option value="">请选择加盟身份</option>-->
                        {php}
                         $lev_lv = 0;
                            if(empty($vo['level_lv'])){
                                $lev_lv = 1;
                            }else{
                                $lev_lv = $vo['level_lv'];
                            }
                        {/php}
                        {volist name="infoclass" id="info"}
                            <option {eq name="info.id" value="$lev_lv" } selected {/eq} value="{$info.id}">{$info.title}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="form-group" id="taocan">
                <label class="col-sm-3 control-label">套餐内容:</label>
                <div class="col-sm-6" id="content">

                    <select name="infoclass" class="select2"  id="infoclass">
                        <option value="">选择套餐项目</option>

                        {volist name="project_list" id="pro"}
                            <option value="{$pro.id}">{$pro.title}</option>
                        {/volist}
                    </select>

                    <input type="number" class="form-control2" name="" placeholder="套餐次数" id="inum"  value=""  >
                    <button type="button" id="ibotton">+</button>
                    {notempty name="$vo.content"}
                        {volist name="$vo.content" id="co"}
                        <input type="text" class="form-control1 but{$co.pid ?? ''}" name="con[]" placeholder="套餐内容"  value="{$co.con ?? ''}" readonly>
                        <input type="number" class="form-control2 but{$co.pid ?? ''}" name="num[]" placeholder="套餐次数"  value="{$co.num ?? ''}"  readonly>
                        <input type="hidden" class="but{$co.pid ?? ''}" name="pid[]" value="{$co.pid ?? ''}">
                        <button type="button" class="jian" attr="{$co.pid ?? ''}">-</button>
                        {/volist}
                    {/notempty}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">账户金额：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="账户金额" name="account" value="{$vo.account ?? ''}" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">推荐人：</label>
                <div class="col-sm-6">
                    <select name="invited_shop_id" class="select2">
                        <!--<option value="">请选择加盟身份</option>-->
                        {php}
							if(!empty($vo['invited_shop_id'])){
								$s_s_iarr = explode('_+_',$vo['invited_shop_id']);
							}else{
								$s_s_iarr = [0,0];
							}
                        {/php}
						<option  value="0">无推荐人</option>
                        {volist name="$member_list" id="mem"}
                        <option {eq name="mem.id" value="$s_s_iarr[1]" } selected {/eq} value="{$mem.id}">{$mem.username} -- {$mem.mobile}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-6 wh-inline">
                <div class="rdio rdio-primary">
                    <input type="radio" name="status" id="status-1" value="1">
                    <label for="status-1">启用</label>
                </div>
                <div class="rdio rdio-primary">
                    <input type="radio" name="status" id="status-0" value="0">
                    <label for="status-0">禁用</label>
                </div>
            </div>
        </div>
        {if condition="$Request.action eq 'update'"}
        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-6">
                <label class="control-label"> {$vo.create_time}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">上次更新：</label>
            <div class="col-sm-6">
                <label class="control-label"> {$vo.update_time}</label>
            </div>
        </div>
        {/if} 

        <div class="panel-footer">
         <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <input type="hidden" name="id" value="{$vo.id ?? ''}">
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">返回</button>
          </div>
         </div>
        </div><!-- panel-footer -->

    </form>
          
</div><!-- panel-body -->
{/block}
{block name="fileinput"}{/block}
{block name="ueditor"}{/block}
{block name="script"}
<script>
    $('#ibotton').click(function(){
        str  = '';
        text = '';
        con  = '';

        text = $('#infoclass :checked').text();

        con  = $('#infoclass').val(); //id 现在存标题
        inum = $('#inum').val();
        if(text == '' || con == '' || inum =='' || inum <=0){
            alert('参数不完整');
            return false;
        }

        str  = '<input type="text" class="add form-control1 but'+con+'" name="con[]" value="'+text+'" readonly>';
        str += '<input type="hidden" class="add but'+con+'" name="pid[]" value="'+con+'" readonly>';
        str += '<input type="number" class="add form-control2  but'+con+'" name="num[]" value="'+inum+'" readonly>';
        str += '<button type="button" class="add jian" attr="'+con+'">-</button>';
        $('#content').append(str);
    })
    function ctype(val){
        if(val==0){
            $('#taocan').hide();
            return false;
        }
        $.ajax({
            url: "{:url('user/getmenu')}",
            dataType:'json',
            data:{id:val},
            type:'post',
            success:function(e){
                $('#taocan').hide();
                $('.add').remove();
                if(e.code == 400){
                    alert(e.msg);
                    return false;
                }else{
                    arr = JSON.parse(e.data);
                    $('#taocan').show();
                    $.each(arr,function(k,v){
                        str  = '<input type="text" class="add form-control1 but'+v['pid']+'" name="con[]" value="'+v['con']+'" readonly>';
                        str += '<input type="hidden" class="add but'+v['pid']+'" name="pid[]" value="'+v['pid']+'" readonly>';
                        str += '<input type="number" class="add form-control2  but'+v['pid']+'" name="num[]" value="'+v['num']+'" readonly>';
                        str += '<button type="button" class="add jian" attr="'+v['pid']+'">-</button>';
                        $('#content').append(str);
                    })
                }
            }
        })

    }
    $('.jian').live('click',function (){

        con =$(this).attr('attr')
        $('.but'+con).remove();
        $(this).remove();
    });
$(document).ready(function() {
    $("[name='sex'][value='{$vo.sex ?? '1'}']").attr("checked", true);
    $("[name='status'][value='{$vo.status ?? '1'}']").attr("checked", true);

    $('#submitForm').bootstrapValidator({
        message: '这个值是无效的',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            {if condition="$Request.action eq 'create'"}
            username: {
                message: '用户名必填不能为空',
                validators: {
                    stringLength: {
                        max: 10,
                        message: '用户名最大长度10个字符'
                    },
                }
            },
            {/if}

            mobile: {
                validators: {
                    regexp: {
                        regexp: /^1(3[0-9]|4[57]|5[0-35-9]|7[0135678]|8[0-9])\d{8}$/,//手机号正则表达式
                        message: '手机号格式不正确'
                    },
                    remote: {
                        url: "{:url('shop/common/validonly',['table'=>'store_member'])}",
                        message: '手机号已经存在'
                    }
                }
            }
        }
    });
    //select2
    jQuery(".select2").select2({
        width: '60%',
        minimumResultsForSearch: -1
    });
});

</script>
{/block}
