<!-- 模板继承 -->
{extend name="template/base" /}
{block name="css"}
<style>
.droppable-active{background-color:#ffe!important}.tools a{cursor:pointer;font-size:80%}.form-body .col-md-6,.form-body .col-md-12{min-height:400px}.draggable{cursor:move}
</style>
{/block}
{block name="content"}

          <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-btns">
                <a href="" class="panel-close">&times;</a>
                <a href="" class="minimize">&minus;</a>
              </div>
              <h4 class="panel-title">表单元素</h4>
              <p>基本元素</p>
            </div>
            <div class="panel-body">
                        <div class="alert alert-info">
                            拖拽左侧的表单元素到右侧区域，即可生成相应的HTML代码，表单代码，轻松搞定！
                        </div>
                        <form role="form" class="form-horizontal m-t">
                            <div class="form-group draggable">
                                <label class="col-sm-3 control-label">文本框</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="" placeholder="请输入文本">
                                </div>
                            </div>
                            <div class="form-group draggable">
                                <label class="col-sm-3 control-label">密码框</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" name="password" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group draggable">
                                <label class="col-sm-3 control-label">下拉列表</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="">
                                        <option>选项 1</option>
                                        <option>选项 2</option>
                                        <option>选项 3</option>
                                        <option>选项 4</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group draggable">
                                <label class="col-sm-3 control-label">纯文本</label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">这里是纯文字信息</p>
                                </div>
                            </div>
                            <div class="form-group draggable">
                                <label class="col-sm-3 control-label">审核状态</label>
                                <div class="col-sm-6 wh-inline">
                                   <div class="rdio rdio-primary">
                                        <input type="radio" id="radio1" value="1" name="status" checked/>
                                        <label for="radio1">通过</label>
                                      </div><!-- rdio -->
                                      <div class="rdio rdio-primary">
                                        <input type="radio" id="radio2" value="0" name="status"/>
                                        <label for="radio2">拒绝</label>
                                      </div><!-- rdio -->

                                </div>
                            </div>
                            <div class="form-group draggable">
                                <label class="col-sm-3 control-label">复选框</label>
                                <div class="col-sm-6 wh-inline">
                                     <div class="ckbox ckbox-primary">
                                      <input type="checkbox" id="int_website" value="m1" name="int[]" required />
                                      <label for="int_website">Website</label>
                                    </div><!-- rdio -->
                                    <div class="ckbox ckbox-primary">
                                      <input type="checkbox" id="int_website2" value="m2" name="int[]" />
                                      <label for="int_website2">Website2</label>
                                    </div><!-- rdio -->
                                    <div class="ckbox ckbox-primary">
                                      <input type="checkbox" id="int_website3" value="m3" name="int[]" />
                                      <label for="int_website3">Website3</label>
                                    </div><!-- rdio -->
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                             <div class="panel-footer draggable">
                                 <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                      <button class="btn btn-primary" type="submit">提交</button>
                                      <button class="btn btn-default" type="button" onclick="javascript:history.back(-1);">返回</button>
                                    </div>
                                 </div>
                             </div>
                        </form>
                        <div class="clearfix"></div>
            </div><!-- panel-body -->
          </div><!-- panel -->
        </div><!-- col-md-6 -->

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-btns" style="float: right;">
                            <select id="n-columns">
                                <option value="1">显示1列</option>
                                <option value="2">显示2列</option>
                            </select>
              </div>
              <h4 class="panel-title">表单区域</h4>
              <p>拖拽左侧表单元素到此区域 </p>
            </div>
            <div class="panel-body">
                        <div class="row form-body form-horizontal m-t">
                            <div class="col-md-12 droppable sortable">
                            </div>
                            <div class="col-md-6 droppable sortable" style="display: none;">
                            </div>
                            <div class="col-md-6 droppable sortable" style="display: none;">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning" data-clipboard-text="testing" id="copy-to-clipboard">复制代码</button>
                
              
            </div><!-- panel-body -->
          </div><!-- panel -->
        </div><!-- col-md-6 -->
     </div>
{/block}
  
{block name="js"}
<!-- 拖拽 -->
<script src="__CONSOLE__/js/jquery-ui-1.10.4.min.js"></script>
<script src="__CONSOLE__/js/beautifyhtml.js"></script>
{/block}
{block name="script"}
<script>
    $(document).ready(function() {

    setup_draggable();
    $("#n-columns").on("change",
    function() {
        var v = $(this).val();
        if (v === "1") {
            var $col = $(".form-body .col-md-12").toggle(true);
            $(".form-body .col-md-6 .draggable").each(function(i, el) {
                $(this).remove().appendTo($col)
            });
            $(".form-body .col-md-6").toggle(false)
        } else {
            var $col = $(".form-body .col-md-6").toggle(true);
            $(".form-body .col-md-12 .draggable").each(function(i, el) {
                $(this).remove().appendTo(i % 2 ? $col[1] : $col[0])
            });
            $(".form-body .col-md-12").toggle(false)
        }
    });
    $("#copy-to-clipboard").on("click",
    function() {
        var $copy = $(".form-body").clone().appendTo(document.body);
        $copy.find(".tools, :hidden").remove();
        $.each(["draggable", "droppable", "sortable", "dropped", "ui-sortable", "ui-draggable", "ui-droppable", "form-body"],
        function(i, c) {
            $copy.find("." + c).removeClass(c).removeAttr("style")
        });
        var html = html_beautify($copy.html());
        $copy.remove();
        $modal = get_modal(html).modal("show");
        $modal.find(".btn").remove();
        $modal.find(".modal-title").html("复制HTML代码");
        $modal.find(":input:first").select().focus();
        return false
    })
});
var setup_draggable = function() {
    $(".draggable").draggable({
        appendTo: "body",
        helper: "clone"
    });
    $(".droppable").droppable({
        accept: ".draggable",
        helper: "clone",
        hoverClass: "droppable-active",
        drop: function(event, ui) {
            $(".empty-form").remove();
            var $orig = $(ui.draggable);
            if (!$(ui.draggable).hasClass("dropped")) {
                var $el = $orig.clone().addClass("dropped").css({
                    "position": "static",
                    "left": null,
                    "right": null
                }).appendTo(this);
                var id = $orig.find(":input").attr("id");
                if (id) {
                    id = id.split("-").slice(0, -1).join("-") + "-" + (parseInt(id.split("-").slice( - 1)[0]) + 1);
                    $orig.find(":input").attr("id", id);
                    $orig.find("label").attr("for", id)
                }
                $('<p class="tools col-sm-12 col-sm-offset-3">                      <a class="edit-link">编辑HTML<a> |                        <a class="remove-link">移除</a></p>').appendTo($el)
            } else {
                if ($(this)[0] != $orig.parent()[0]) {
                    var $el = $orig.clone().css({
                        "position": "static",
                        "left": null,
                        "right": null
                    }).appendTo(this);
                    $orig.remove()
                }
            }
        }
    }).sortable()
};
var get_modal = function(content) {
    var modal = $('<div class="modal fade bs-example-modal-lg" style="overflow: auto;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">    <div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-header"><button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button><h4 class="modal-title">编辑HTML</h4></div><div class="modal-body"> <textarea class="form-control" style="resize: vertical;min-height:200px;margin-bottom: 10px;font-family: Monaco, Fixed">' + content + '</textarea><button class="btn btn-success">更新HTML</button></div>        </div></div></div>').appendTo(document.body);
    return modal
};
$(document).on("click", ".edit-link",
function(ev) {
    var $el = $(this).parent().parent();
    var $el_copy = $el.clone();
    var $edit_btn = $el_copy.find(".edit-link").parent().remove();
    var $modal = get_modal(html_beautify($el_copy.html())).modal("show");
    $modal.find(":input:first").focus();
    $modal.find(".btn-success").click(function(ev2) {
        var html = $modal.find("textarea").val();
        if (!html) {
            $el.remove()
        } else {
            $el.html(html);
            $edit_btn.appendTo($el)
        }
        $modal.modal("hide");
        return false
    })
});
$(document).on("click", ".remove-link",
function(ev) {
    $(this).parent().parent().remove()
});
    </script>
{/block}