<div class="my_content">
    <ul>
        <a href="{:Url('my/approve_save')}">
            <li><img src="__HOME__/img/my_img1.png" class="logo"><span>我的认证</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
        <a href="{:Url('my/my_order')}">
            <li><img src="__HOME__/img/my_img2.png" class="logo"><span>我的订单</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
        <a href="{:Url('my/favorite')}">
            <li><img src="__HOME__/img/my_img3.png" class="logo"><span>我的收藏</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
        <a href="{:Url('my/question')}">
            <li><img src="__HOME__/img/my_img4.png" class="logo"><span>我的论坛</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
        <a href="{:Url('my/supply')}">
            <li><img src="__HOME__/img/my_img5.png" class="logo"><span>我的供求</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
        <a href="{:Url('my/address')}">
            <li><img src="__HOME__/img/my_img6.png" class="logo"><span>我的地址</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
        <a href="{:Url('my/customservice')}">
            <li><img src="__HOME__/img/my_img7.png" class="logo"><span>客服中心</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
        <a href="{:Url('my/speak')}">
            <li><img src="__HOME__/img/my_img8.png" class="logo"><span>意见反馈</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
        <a href="{:Url('my/share')}">
            <li><img src="__HOME__/img/my_img9.png" class="logo"><span>分享好友</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
        <a href="{:Url('my/upshop')}">
            <li><img src="__HOME__/img/my_img10.png" class="logo"><span>我要开店</span><img class="more_img" src="__HOME__/img/right_img_03.png"></li>
        </a>
    </ul>
</div>