<!--index start-->
<section class="box_con">
	<div class="jrfa_con">
		<div class="fl jrfa_pic"><img src="{$car_info.picurl}"/></div>
		<div class="fr jrfa_text">
			<h3>{$car_info.title}</h3>
			<span class="grey9">售价：{$car_info.car_price}万</span>
		</div>
		<div class="cl"></div>
	</div>
</section>

<div class="line15"></div>
<div class="gbook_pos">
	<div class="tr gbook_close"><a href="javascript:void(0);"><img src="__IMG__/gbook_close.png"/></a></div>
	<h3 class="tc gbook_tit">询最低价</h3>
	<div class="tc gbook_text">输入您的手机号，我们会尽快联系您!</div>
	<input type="tel" id="mobile" placeholder="您的手机号" class="gbook_inp" />
	<input type="hidden" value="{$id}" id="car_id"  class="gbook_inp" />
	<input type="hidden" value="old" id="car_type"  class="gbook_inp" />
	<input type="button" id="tj_form" value="立即咨询" class="gbook_btn tc" />
</div>
<ul class="jrfa_list">
	{volist name="data" id="f_data"}
	<li>
		<h3>{$f_data['title']}</h3>
		<span class="jrfa_list_con"><i class="org">{$f_data.shoufu}万元</i><br />首付{$f_data.shoufu_hv*100}%</span>
		<span class="jrfa_list_con"><i class="org">{$f_data.yuegong}元</i><br />月供({$f_data['count_qi']}期)</span>
		<div class="cl"></div>
	</li>
	{/volist}
</ul>


<!--index end-->