<!-- 模板继承 -->
{extend name="template/create" /}
{block name="content"}
<div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title">{:$mate_operate}-{:$mate_title}</h4>
        </div>
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">共<span style="color:#f00;font-size: 26px;">{$count_vehicleList}</span>款车型选择</h4>
            <div class="col-sm-6 col-sm-offset-3">
                <div>请选择对应车辆：</div>
                {for start="0" end="$count_vehicleList"  }
                     <button type="button" class="btn btn-primary submit_vin" vin_i="{$i}" style="width:80px; margin-top:5px; margin-right:20px;">{$i+1}</button>
                {/for}
            </div>
            <div style="clear: both;"></div>
        </div>

        <div class="panel-body panel-body-nopadding">
        <form class="form-horizontal form-bordered" id="submitForm1" method="post" action="{:url('OldCar/create')}" method="post" >

            {volist name="$car_parma" id="parma_vo"}

                    <div class="form-group">
                        <label class="col-sm-3 control-label">{$parma_vo.name}：</label>
                        <div class="col-sm-6">
                            {volist name="vehicleList"  id="vo"}
                                <div style="float:left;line-height: 40px; font-size: 18px; margin-right:5px;">({$i})</div><input type="text" style="float:left; width:90%;" class="form-control" name="{$parma_vo.value}[]" value="{$vo[$parma_vo.value] ?? ''}" readonly>
                            <div style="clear:both;"></div>
                            {/volist}

                        </div>
                    </div>

            {/volist}
            <!--选择后通过js 传值选择-->
            <input type="hidden" name="param_id" id="param_id" value=""/>
            <input type="hidden" name="vin" value="{$vin}"/>
            <input type="hidden" id="count_vehicleList" value="{$count_vehicleList}"/>
         <div class="panel-footer">
         <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div>请选择对应车辆：</div>
              {for start="0" end="$count_vehicleList"  }
              <button type="button" class="btn btn-primary submit_vin" vin_i="{$i}" style="width:80px; margin-top:5px; margin-right:20px;">{$i+1}</button>
              {/for}
          </div>
         </div>
        </div><!-- panel-footer -->

    </form>

</div><!-- panel-body -->
{/block}
{block name="fileinput"}{__block__}{/block}
{block name="ueditor"}{/block}
{block name="script"}
<script>
    $('.submit_vin').click(function(){
        vin_i = $(this).attr('vin_i');
        count_vehicleList = $(this).attr('count_vehicleList');
        if(count_vehicleList == 1){
            $('#submitForm1').submit();
        }
        $('#param_id').val(vin_i);

        if(confirm("确定选择该车型么？"))
        {
            $('#submitForm1').submit();
        }
    })
$(document).ready(function() {
    fileinputOne("fileone","p_chexizhanshitu");
    $("[name='parentid']").find("[value='{$vo.parentid ?? '0'}']").attr("selected", true);

    $('#submitForm').bootstrapValidator({
        message: '这个值是无效的',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
    //select2
    jQuery(".select2").select2({
        width: '100%',
        minimumResultsForSearch: -1
    });
});
function addattrs(){
    var title = $('#attrs_title').val();

    var list=new Array();
    $("input[name='attrs_group[]']").each(function(){
            list.push($(this).attr('name'));
    });
    //console.log(list);
    var num = list.length;

    if(title!=''){
        $('#trhead').before('<th>'+title+'</th>');
        $('.tdbody').before('<td></td>');

        var html = '<div class="form-group" id="attrs'+num+'_group"  style="border: 0;">'
                 +'   <label class="col-sm-3 control-label">'+title+'：<input type="hidden" name="attrs_group[]" value="'+title+'"></label>'
                 +'   <div class="col-sm-6">'
                 +'      <div class="input-group">'
                 +'         <span class="input-group-btn">'
                 +'           <button type="button" class="btn btn-default" onclick="addinput('+num+')">添加</button>'
                 +'         </span>'
                 +'         <input type="text" class="form-control" id="attrs'+num+'_add" value=""/>'
                 +'       </div>'
                 +'       <span id="attrs'+num+'_area">'
                 +'       </span>'
                 +'    </div>'
                 +' </div>';

        $('#attr_area').append(html);
        $('#attrs_title').val('');
    }

}

function addinput(param){
    var val = $('#attrs'+param+'_add').val();
    if(val!=''){
        $('#attrs'+param+'_area').append('<input type="checkbox" name="attrs'+param+'[]" value="'+val+'" checked>'+val);
        $('#attrs'+param+'_add').val('');
    }
}

function chooseAttr(val){
     $.ajax({
             url: "{:url('console/goods/getattr')}",    //提交的页面，方法名
             dataType: "json",     //类型
             data:{"typeid":val},
             type: "POST",     //提交方式
             success: function (data) { //如果执行成功，那么执行此方法
             //alert(JSON.stringify(data));
                $('#attrs').empty();
                $('#attr_area').empty();
                $('#theadtr').empty();
                var dataObj=eval("("+data+")");//转换为json对象
                $.each( dataObj, function(index,item){

                   var html = '<div class="form-group" id="attrs'+index+'_group"  style="border: 0;">'
                             +'   <label class="col-sm-3 control-label">'+item['title']+'：<input type="hidden" name="attrs_group[]" value="'+item['title']+'"></label>'
                             +'   <div class="col-sm-6">'
                             +'      <div class="input-group">'
                             +'         <span class="input-group-btn">'
                             +'           <button type="button" class="btn btn-default" onclick="addinput('+index+')">添加</button>'
                             +'         </span>'
                             +'         <input type="text" class="form-control" id="attrs'+index+'_add" value=""/>'
                             +'       </div>'
                             +'       <span id="attrs'+index+'_area">';
                             $.each( item['attrs'], function(index1,item){
                                html +='<input type="checkbox" name="attrs'+index+'[]" value="'+item+'" checked>'+item;

                             });
                        html +='       </span>'
                             +'    </div>'
                             +' </div>';

                    $('#attr_area').append(html);

                    $('#theadtr').append('<th>'+item['title']+'</th>');

                });
                $('#theadtr').append('<th id="trhead">价格</th>');
                $('#theadtr').append('<th>库存</th>');
           },
           error: function (err) { //如果执行不成功，那么执行此方法
            tips('ajax出错了1');
           }
       });
}
</script>
{/block}
