<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Console" stopProcessing="true">
                    <match url="^admin$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/console/login/index" appendQueryString="true" />
                </rule>
                <rule name="OrgPage" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <handlers>
            <clear />
            <add name="PHP-5.6-7i24.com" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\5.6\php-cgi.exe" resourceType="Either" />
            <add name="PHP-5.2-7i24.com" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\5.2\php-cgi.exe" resourceType="Either" />
            <add name="PHP-5.3-7i24.com" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\5.3\php-cgi.exe" resourceType="Either" />
            <add name="PHP-5.4-7i24.com" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\5.4\php-cgi.exe" resourceType="Either" />
            <add name="PHP-5.5-7i24.com" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\5.5\php-cgi.exe" resourceType="Either" />
            <add name="PHP-7.0-7i24.com" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\7.0\php-cgi.exe" resourceType="Either" />
            <add name="PHP-7.1-7i24.com" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\7.1\php-cgi.exe" resourceType="Either" />
            <add name="PHP-7.2-7i24.com" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="c:\php\7.2\php-cgi.exe" resourceType="Either" />
            <add name="rules-Integrated" path="*.rules" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="xoml-Integrated" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="svc-Integrated" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="ISAPI-dll" path="*.dll" verb="*" modules="IsapiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="TraceHandler-Integrated" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" preCondition="integratedMode" />
            <add name="WebAdminHandler-Integrated" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" preCondition="integratedMode" />
            <add name="AssemblyResourceLoader-Integrated" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode" />
            <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode" />
            <add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode" />
            <add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="integratedMode" />
            <add name="HttpRemotingHandlerFactory-rem-Integrated" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="HttpRemotingHandlerFactory-soap-Integrated" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
            <add name="AboMapperCustom-3807542" path="*.asa" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\WINDOWS\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807543" path="*.ad" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807544" path="*.adprototype" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807545" path="*.asax" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807546" path="*.ascx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="SimpleHandlerFactory-ISAPI-2.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="WebServiceHandlerFactory-ISAPI-2.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="AXD-ISAPI-2.0" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807547" path="*.browser" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807548" path="*.cd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807549" path="*.compiled" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807550" path="*.config" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807551" path="*.cs" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807552" path="*.csproj" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807553" path="*.dd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807554" path="*.exclude" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807555" path="*.java" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807556" path="*.jsl" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807557" path="*.ldb" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807558" path="*.ldd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807559" path="*.lddprototype" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807560" path="*.ldf" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807561" path="*.licx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807562" path="*.master" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807563" path="*.mdb" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807564" path="*.mdf" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807565" path="*.msgx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807566" path="*.refresh" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807567" path="*.resources" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807568" path="*.resx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807569" path="*.sd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807570" path="*.sdm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807571" path="*.sdmDocument" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807572" path="*.sitemap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807573" path="*.skin" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" path="*.soap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="svc-ISAPI-2.0" path="*.svc" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
            <add name="AboMapperCustom-3807574" path="*.vb" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807575" path="*.vbproj" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807576" path="*.vjsproj" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807577" path="*.vsdisco" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807578" path="*.webinfo" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="AboMapperCustom-3807579" path="*.php" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\PHP\php5isapi.dll" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
            <add name="WebDAV" path="*" verb="PROPFIND,PROPPATCH,MKCOL,PUT,COPY,DELETE,MOVE,LOCK,UNLOCK" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />
            <add name="TRACEVerbHandler" path="*" verb="TRACE" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
		<security>
			<requestFiltering allowDoubleEscaping="True"/>
		</security>
    </system.webServer>
</configuration>
