
<style>

</style>
<link rel="stylesheet" type="text/css" href="__CSS__/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="__CSS__/webupload/diyUpload.css">
<script type="text/javascript" src="__JS__/webupload/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="__JS__/webupload/diyUpload.js"></script>
<!-- banner start -->
<div><img src="{$sell_img}" alt="" /></div>
<!-- banner end -->
<!--index start-->
<section class="ksyy_bg">
	<div class="ksyy_box">
		<div class="tc ksyy_tit">快速预约</div>
		<div class="ksyy_con">
			<span class="fl ksyy_tab">姓名<b class="org">*</b></span>
			<input type="text" placeholder="请输入您的姓名" id="username" class="fl ksyy_inp" />
			<div class="cl"></div>
		</div>
		<div class="ksyy_con">
			<span class="fl ksyy_tab">联系方式<b class="org">*</b></span>
			<input type="text" placeholder="请输入您的电话号码" id="mobile" class="fl ksyy_inp" />
			<div class="cl"></div>
		</div>
		<div class="ksyy_con">
			<span class="fl ksyy_tab">车辆描述<b class="org">*</b></span>
			<textarea placeholder="如：2018款奥迪，1万公里等" id="content" class="fl ksyy_inp ksyy_textarea"></textarea>
			<div class="cl"></div>
		</div>
		<div class="ksyy_con">
			<span class="fl ksyy_tab">上传照片</span>
			<div id="demo">
				<div id="as" ></div>
			</div>
			<div class="cl"></div>
		</div>

		<script>
            var i=0;
            $('#as').diyUpload({
                url:'{:url("sell_car/mbupload")}',
                success:function( data ) {
                    i++;
                    img_url = data['_raw'];
                    text = "<input class='xp_img' type='hidden' name='bl_img["+i+"]' value='"+img_url+"'/>"
                    $(".ksyy_box").append(text);
                },
                error:function( err ) {
                    console.info( err );
                },
                buttonText : '+',
				/*chunked:true,
				 // 分片大小
				 chunkSize:512 * 102400,
				 //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
				 fileNumLimit:5000,
				 fileSizeLimit:500000 * 102400,
				 fileSingleSizeLimit:50000 * 102400,*/
                //30M
                fileSizeLimit:310 * 102400,
                fileNumLimit:6,
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,bmp,png',
                    mimeTypes: 'image/*'
				}
            });
		</script>
		<input type="button" id="yy_sell" value="预约卖车"  class="ksyy_submit"/>
	</div>
</section>

<section class="box_con">
	<div class="mclc_tit tc"><span>卖车流程</span></div>
	<ul class="mclc_list tc">
		<li><img src="__IMG__/b01.jpg"/><br />在线登记 </li>
		<li><img src="__IMG__/b02.jpg"/><br />客服致电 </li>
		<li><img src="__IMG__/b03.jpg"/><br />上门检测 </li>
		<li><img src="__IMG__/b04.jpg"/><br />最高报价 </li>
		<li><img src="__IMG__/b05.jpg"/><br />交车打款 </li>
		<div class="cl"></div>
	</ul>
</section>
<!--index end-->
<script>
	$('#yy_sell').click(function () {
        username   = $('#username').val();
        content	   = $('#content').val();
		mobile     = $('#mobile').val();
        bl_img 	   = {};
        //判断是否点击图片上传
        diyStart = $('.diyStart').text();
        if(diyStart){
            tips('请点击开始上传或等待上传完毕');
            return false;
        }
        $("input[name^='bl_img']").each(function(ii, el) {
            console.log('-')
            bl_img[ii] =$(this).val();
        });
		var chickable = 0; //全局变量 防止多次点击事件

		var ckmobile = /1[3|4|5|7|8|][0-9]{9}/;
		if (username == '' ) {

			tips("您的姓名不能为空!");
            $("#username").focus();
			return false;

		}

        if (mobile == "") {

            tips("手机号码不能为空!");

            $("#mobile").focus();

            return false;

        }

        if (!ckmobile.test(mobile) || mobile.length!=11) {

            tips("手机号码格式不正确!");
            $("#mobile").focus();
            return false;

        }

		if (content == '') {

			tips("车辆描述不能为空!");
			return false;

		}

		if (chickable == 0) {

			chickable = 1;

			$.ajax({

				type: "POST",     //提交方式
				dataType: "JSON",     //类型
				url : "{:url('SellCar/consult')}",    //提交的页面，方法名
				data: {
                    username : username,
                    mobile   : mobile,
                    content  : content,
                    bl_img   : bl_img
				},
				success: function (data) { //如果执行成功，那么执行此方法

				if (data.data == "1") {

					tips("您的卖车信息已提交，请您耐心等候！");
					$('#mobile').val('');
					$('#username').val('');
					$("#content").val('');
					$(".parentFileBox").remove();
					$(".xp_img").remove();
					return false;
				}else if (data.data  == "2") {
					chickable = 0;
					tips("您已提交过相同的车型信息，我们会尽快为您服务！");
					return false;
				}else{
					chickable = 0;
					tips("提交失败，请重新提交");
					return false;
				}

				},
				error: function (err) { //如果执行不成功，那么执行此方法
					chickable = 0;
					tips("提交失败，请重试！");
				}
			});
		}
	})
</script>