<!--顶部导航-->
{include file="public/header" /}

<body>

<div id="page">

<div class="xian"></div>

<div class="tx_gong">
余额<p id="acc">{$account}元</p>


<div class="tx_ti"><a href="{:url('user/extract_record')}">提现记录</a></div>
</div>
<div class="xian"></div>


<div class="biao1">
    <div class="biao1_zi">提现金额</div>
        <div class="biao1_sr">
            <input id="t_money" type="number" placeholder="输入金额">
        </div>
    </div>
<div class="tx_tx1">提现到微信钱包</div>

<div class="tx_tj"><input id="take" type="button" value="立即提现"></div>
<div class="tx_tx2"><a href="{:url('user/take_info')}">提现说明</a></div>
<div class="pb100"></div>

</div>
</body>
</html>
<script>
    $('#take').click(function(){
        var acc   = '{$account}';
        var max   = parseInt('{$take_money_restrict}');
        var money = parseFloat($('#t_money').val());

        if(money<=0 || isNaN(money)){
            layer.msg('请输入有效提现金额');
            return false;
        }

        if(max<money){
            layer.msg('提现金额不能大于'+max+'元');
            return false;
        }

        $.ajax({
            url:'{:url("user/take_money")}',
            type:'post',
            dataType:'json',
            data:{money:money},
            success:function(data){
                if(data.code == 200){
                    layer.msg('申请提现成功');
                    $('#acc').text(acc-money)
                }else{
                    layer.msg('申请提现失败');
                }
            }
        })
    })
</script>