<!--顶部导航-->
{include file="public/header" /}
    <style>
        .send_content .sc_photo .sr_question .font{
            color: #f6a74d;
            border: 1px solid #f6a74d;
        }
        .upimg-div .up-section:nth-child(4n){
            margin-right: 0;
        }
        #ul_pics li {width: 70px!important;position: relative}
        .ul_div li {
            float: left;
            width: 1.85rem;
            border: 1px solid #dedede;
            text-align: center;
            line-height: 0.6rem;
            border-radius: 0.05rem;
            font-size: 0.26rem;
            color: #666666;
            margin: 0.3rem 0.2rem 0.3rem 0;
        }
        .jia_sel {
            float: left;
            height: 0.9rem;
            color: #666;
            font-size: 0.26rem;
            border: none;
            outline: none;
        }
    </style>
<script>
    $(function () {
        var h=$(".photo li").width();
        $(".fileInputContainer").css({height:h+"px"});
        $(".fileInput").css({height:h+"px"});
    })
</script>
<body>
<div class="wrap">
    <header>
        <img src="__HOME__/img/back_btn_03.png" class="back_btn" onclick="javascript:history.go(-1)">
        <p class="title">我要提问</p>
        <span class="right_span" onclick="tj()" >发送</span>
    </header>
    <div class="send_content">
        <div class="fl_div">
            <p class="left_p">选择分类</p>
            <p class="right_p">
                <select name="" id="type" class="jia_sel">
                    {volist name="data" id="vo"}
                    <option value="{$vo.id}">{$vo.type_title}</option>
                    {/volist}
                </select>
            </p>
        </div>
        <div class="shangj">
            <p class="p1">赏金</p>
            <p class="p2"><input onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" type="text" style="border: none;width: 300px;text-align: center" id="integral_num" value="">积分</p>
        </div>
        <div class="sc_photo">
            <div class="sr_question">
                <div class="font">热</div>
                <input type="text" placeholder="输入问题标题（4-40字）" id="title">
            </div>
            <div class="text_div">
                <textarea placeholder="欢迎提交您的问题..." id="content"></textarea>
            </div>
            <div class="img-box full ul_div">
                <ul class="photo" style="width: 93%;margin: auto;">
                    <li id="btn" style="height: 70px;width: 70px;margin-bottom: 5px;"><img style="height: 70px;width: 70px;" src="__HOME__/shangchuan/img/pl-tupian.png">
                    </li>
                    <ul id="ul_pics"></ul>
                    <div id="img2"><input name='picArr' id="picArr[]" type='hidden' value=''></div>
                    <div class="cl"></div>
                </ul>
                <!--<input type="file" name="picarr" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp,video/mp4" multiple />-->
            </div>
            <aside class="mask works-mask">
                <div class="mask-content">
                    <p class="del-p ">您确定要删除作品图片吗？</p>
                    <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
                </div>
            </aside>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(".ul_div ul li").click(function(){
        var tr= $(this).attr("zhi");
        console.log(tr);
        $(".ul_div ul li").removeClass("ul_div_li_style");
        $(this).addClass("ul_div_li_style");
        $("#type").val(tr);
    });
</script>
<script type="text/javascript" src="__HOME__/shangchuan/js/plupload.full.min.js"></script>
<script>
    function tj(){
        var pic = document.getElementsByName("picArr");
        var picArr = '';
        if (pic) {
            $("input[name='picArr']").each(function () {
                picArr += $(this).val()+'|';
            });
            picArr = picArr.substr(0,picArr.length-1);
        } else {
            picArr = '';
        }
        var title = $("#title").val();
        var content = $("#content").val();
        var type_id = $("#type").val();
        var integral = $("#integral").val();
        var integral_num = $("#integral_num").val();
        if (title.replace(/(^s*)|(s*$)/g, "").length ==0)
        {
            layer.msg("问题标题不能为空");
            return false;
        }
        if (content.replace(/(^s*)|(s*$)/g, "").length ==0)
        {
            layer.msg("问题描述不能为空");
            return false;
        }
        $.ajax({
            url: "{:url('bbc/question_add')}",
            type: 'post',
            dataType: 'json',
            data:{picarr:picArr,title:title,type_id:type_id,content:content,integral:integral,integral_num:integral_num},
            success: function (data) {
                if(data.code==200){
                    layer.msg('添加成功!', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.href="{:url('bbc/index')}";
                    });
                }else{
                    layer.msg(data.message);
                }
            }
        });
    }
    var uploader = new plupload.Uploader({
        runtimes: 'html5,flash,silverlight,html4',
        browse_button: 'btn',
        url: "{:url('home/upload/ossUpload')}",
//        filters: {
//            max_file_size: '2048kb',
//            mime_types: [
//                {title: "files", extensions: "jpg,png,gif,jpeg,PNG,JPG,JPEG,GIF"}
//            ]
//        },
        multi_selection: true,
        init: {
            FilesAdded: function (up, files) {
                if ($("#ul_pics").children("li").length > 4) {
                    layer.msg("您上传的图片太多了！");
                    uploader.destroy();
                } else {
                    var li = '';
                    plupload.each(files, function (file) {
                        li += "<li id='1" + file['id'] + "'><div class='progress'><span class='bar'></span><span class='percent'>0%</span></div></li>";
                    });
                    $("#ul_pics").append(li);
                    uploader.start();
                }
            },
            UploadProgress: function (up, file) {
                var percent = file.percent;
                $("#1" + file.id).find('.bar').css({"width": percent + "%"});
                $("#1" + file.id).find(".percent").text(percent + "%");
            },
            FileUploaded: function (up, file, info) {
                if ($("#ul_pics").children("li").length >= 4) {
                    layer.open({content:"最多只能上传3张图片！",skin:'msg',time:2});
                    $("#1" + file.id).remove('');
                    return false;
                    uploader.destroy();
                }
                document.getElementById('img2').innerHTML = '';
//                        var data = JSON.parse(info.response);
                var data = eval("(" + info.response + ")");
                var str = data.picUrl;
                 if(str.substr(str.length-4)=='.mp4'){
                     $("#1" + file.id).html("<video style='height: 70px;width: 70px;float: left;' src=" + data.picUrl +
                             "><input  name='picArr' id='picArr[]' type='hidden' value='" + data.picUrl +
                             "'><a style='position:absolute;top: -6px;right: -6px;display: block;width: 16px;height: 16px;background: #fff;border-radius: 16px;box-shadow: 0 0 2px #000;' onclick=img_del('1" + file.id + "','" + data.picUrl + "','{:url(\'upload/uploadImgDestroy\')}')><img style='height: 10px; width: 10px;float: left;margin: 3px;' src='__HOME__/shangchuan/img/icon21.png'/></a>");
                 }else{
                     $("#1" + file.id).html("<img style='height: 70px;width: 70px;float: left;' src=" + data.picUrl +
                             "><input  name='picArr' id='picArr[]' type='hidden' value='" + data.picUrl +
                             "'><a style='position:absolute;top: -6px;right: -6px;display: block;width: 16px;height: 16px;background: #fff;border-radius: 16px;box-shadow: 0 0 2px #000;' onclick=img_del('1" + file.id + "','" + data.picUrl + "','{:url(\'upload/uploadImgDestroy\')}')><img style='height: 10px; width: 10px;float: left;margin: 3px;' src='__HOME__/shangchuan/img/icon21.png'/></a>");
                 }
            },
            Error: function (up, err) {
                layer.msg('服务器异常,请重新上传');
            }
        }
    });
    uploader.init();
    // 取消上传图片
    function img_del(id, picUrl, url) {
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {picUrl: picUrl},
            async: true,
            success: function (data) {
                if (data.code == '200') {
                    $("#" + id).remove('');
                    layer.open({content:data.message,skin:'msg',time:2});
                } else {
                    layer.open({content:data.message,skin:'msg',time:2});
                    return false;
                }
            },
            error: function () {
                layer.open({content:'网络繁忙,请重试',skin:'msg',time:2});
            }
        });
    }
</script>
