
<script type="text/javascript">
	$(document).ready(function(e) {
	$("#tubiao").bind("click",function (){
	$("#ceng").toggle(500);
	var height=$(window).height();
	$("#ceng").css(document.body.scrollHeight);
	})
	$("#close").bind("click",function (){
	$("#ceng").toggle(500);
	})
	});
</script>
<!-- 导航菜单 -->

<!--index start-->
<div class="car_search">
	<form action="" method="get">
		<input type="submit" value="" class="fl car_search_btn" />
		<input type="text" placeholder="输入品牌/车型" value="{$name ?? ''}"  name="name" class="fl car_search_inp" />
		<div class="cl"></div>
	</form>
</div>
<ul class="car_type tc">
	<li>
		<a href="javascript:void(0);" class="ai_click">智能筛选</a>
		<div class="car_brand">
			<ul class="tc">
				<li style="width:100%;border-bottom: 1px solid #ececec;padding: 5px;font-size: 15px;">
					<a href="{:url('NewCar/index',['ai'=>'1','name'=>$name])}" style="display: block;text-align: left; margin-left: 20px;">{$name}最新上架</a>
					<div class="cl"></div>
				</li>
				<li style="width:100%;border-bottom: 1px solid #ececec;padding: 5px;font-size: 15px;">
					<a href="{:url('NewCar/index',['ai'=>'2','name'=>$name])}" style="display: block;text-align: left; margin-left: 20px;">价格最低</a>
					<div class="cl"></div>
				</li>
				<li style="width:100%;border-bottom: 1px solid #ececec;padding: 5px;font-size: 15px;">
					<a href="{:url('NewCar/index',['ai'=>'3','name'=>$name])}" style="display: block;text-align: left; margin-left: 20px;">价格最高</a>
					<div class="cl"></div>
				</li>
			</ul>
		</div>
	</li>
	<li><a href="javascript:void(0);" class="brand_click">品牌</a></li>
	<li>
		<a href="javascript:void(0);" class="price_click">价格</a>
		<div class="car_price">
			<ul class="fast_jiage tc">
				<li>
					<input type="radio" id="a1" name="jiage" class="fast_radio" checked />
					<label for="a1">不限</label>
					<div class="cl"></div>
				</li>
				<li>
					<input type="radio" id="a2" name="jiage" class="fast_radio" />
					<label for="a2">0~3万</label>
					<div class="cl"></div>
				</li>
				<li>
					<input type="radio" id="a3" name="jiage" class="fast_radio" />
					<label for="a3">3~5万</label>
					<div class="cl"></div>
				</li>
				<li class="on">
					<input type="radio" id="a4" name="jiage" class="fast_radio" />
					<label for="a4">5~10万</label>
					<div class="cl"></div>
				</li>
				<li class="on">
					<input type="radio" id="a5" name="jiage" class="fast_radio" />
					<label for="a5">10~15万</label>
					<div class="cl"></div>
				</li>
				<li class="on">
					<input type="radio" id="a6" name="jiage" class="fast_radio" />
					<label for="a6">15~20万</label>
					<div class="cl"></div>
				</li>
				<li class="on">
					<input type="radio" id="a7" name="jiage" class="fast_radio" />
					<label for="a7">20~30万</label>
					<div class="cl"></div>
				</li>
				<li class="on">
					<input type="radio" id="a8" name="jiage" class="fast_radio" />
					<label for="a8">30~50万</label>
					<div class="cl"></div>
				</li>
				<li class="on">
					<input type="radio" id="a9" name="jiage" class="fast_radio" />
					<label for="a9">50万以上</label>
					<div class="cl"></div>
				</li>
				<div class="cl"></div>
			</ul>
			<div class="fast_jiage_tit">自定义价格<span>/ 万</span></div>
			<input type="text" placeholder="输入起始价格" class="fl fast_inp" />
			<span class="fl fast_text tc">~</span>
			<input type="text" placeholder="输入起始价格" class="fl fast_inp" />
			<div class="cl"></div>
			<a href="javascript:void(0);" class="tc fast_more">确定 </a>
		</div>
	</li>
	<li><a href="javascript:void(0);" class="more_click">更多</a></li>
	<div class="cl"></div>
</ul>
<div class="car_sel">
	<a href="javascript:void(0);">大众<span class="car_sel_close"><img src="__IMG__/icon03.png" alt="" /></span></a>
	<a href="javascript:void(0);">10W~20W<span class="car_sel_close"><img src="__IMG__/icon03.png" alt="" /></span></a>
	<a href="javascript:void(0);">轿车<span class="car_sel_close"><img src="__IMG__/icon03.png" alt="" /></span></a>
	<span class="fr car_sel_empty"><a href="javascript:void(0);">清空</a></span>
</div>
<section class="box_con">
	<ul class="hot_car">
		{volist name="car_list" id="car"}
		<li>
			<a href="javascript:void(0);">
				<div class="fl hot_car_pic"><img src="{$car.p_chexizhanshitu}"/></div>
				<div class="fr hot_car_con">
					<h3>{$car.p_chexingmingcheng}</h3>
					<span class="grey9">上市时间：{$car.p_shangshishijian}</span><br />
					<div class="fl"><span class="org f3"></span> <s class="grey9">新车价：{$car.p_changshangzhidaojia_yuan}</s></div>
					<div class="fr hot_icon">金融贷款</div>
					<div class="cl"></div>
				</div>
				<div class="cl"></div>
			</a>
		</li>
		{/volist}
		{empty name="car_list"}
			<li>未找到匹配车型</li>
		{/empty}
	</ul>
	<div class="tc hot_more"><a href="javascript:void(0);">我要看更多></a></div>
</section>
<!--index end-->

<!--品牌 start-->
<div class="brand_pos">
	<div class="brand_tit fb tc">品牌<a href="javascript:void(0);" class="brand_close"><img src="__IMG__/sj02.png"/></a></div>
	<div class="brand_index">
		<a href="#a">a</a>
		<a href="#b">b</a>
		<a href="javascript:void(0);">c</a>
		<a href="javascript:void(0);">d</a>
		<a href="javascript:void(0);">e</a>
		<a href="javascript:void(0);">f</a>
		<a href="javascript:void(0);">g</a>
		<a href="javascript:void(0);">h</a>
		<a href="javascript:void(0);">i</a>
		<a href="javascript:void(0);">j</a>
		<a href="javascript:void(0);">k</a>
		<a href="javascript:void(0);">l</a>
		<a href="javascript:void(0);">m</a>
		<a href="javascript:void(0);">n</a>
		<a href="javascript:void(0);">o</a>
		<a href="javascript:void(0);">p</a>
		<a href="javascript:void(0);">q</a>
		<a href="javascript:void(0);">r</a>
		<a href="javascript:void(0);">s</a>
		<a href="javascript:void(0);">t</a>
		<a href="javascript:void(0);">u</a>
		<a href="#">v</a>
		<a href="#">w</a>
		<a href="#">x</a>
		<a href="#">y</a>
		<a href="#">z</a>
		<a href="#">#</a>
	</div>
	<dl class="brand_list">
		<dt>热门车型</dt>
		<dd>
			<ul class="brand_hot tc">
				{volist name="car_brand.recommend" id="recommend"}
					<li><a href="#"><img style="width:60px;height:60px" src="{$recommend.p_pinpai_logo}"/><br />{$recommend.p_pinpai}</a></li>
				{/volist}
				<div class="cl"></div>
			</ul>
		</dd>
		<dt id="a">A</dt>
		<dd>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand01.jpg" alt="" /></span>
				<span class="fr brand_hot_name">奥迪</span>
				<div class="cl"></div>
			</a>
		</dd>
		<dt id="b">B</dt>
		<dd>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
			<a href="#">
				<span class="fl brand_hot_pic tc"><img src="__IMG__/brand02.jpg" alt="" /></span>
				<span class="fr brand_hot_name">别克</span>
				<div class="cl"></div>
			</a>
		</dd>
	</dl>
</div>
<!--品牌 end-->

<!--更多 start-->
<div class="more_pos">
	<div class="brand_tit fb tc">更多<a href="#" class="more_close"><img src="__IMG__/sj02.png"/></a></div>
	<div class="more_tit">车型</div>
	<div class="more_bor">
		<ul class="more_list tc">
			<li>
				<input type="radio" id="cx1" name="chexing" class="cx_radio" checked />
				<label for="cx1">
					<div class="cx_pic"><img src="__IMG__/cx01.png" alt="" /></div>
					两厢轿车
				</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cx2" name="chexing" class="cx_radio" />
				<label for="cx2">
					<div class="cx_pic"><img src="__IMG__/cx02.png" alt="" /></div>
					三厢轿车
				</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cx3" name="chexing" class="cx_radio" />
				<label for="cx3">
					<div class="cx_pic"><img src="__IMG__/cx03.png" alt="" /></div>
					跑车
				</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cx4" name="chexing" class="cx_radio" />
				<label for="cx4">
					<div class="cx_pic"><img src="__IMG__/cx04.png" alt="" /></div>
					面包车
				</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cx5" name="chexing" class="cx_radio" />
				<label for="cx5">
					<div class="cx_pic"><img src="__IMG__/cx05.png" alt="" /></div>
					SUV
				</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cx6" name="chexing" class="cx_radio" />
				<label for="cx6">
					<div class="cx_pic"><img src="__IMG__/cx06.png" alt="" /></div>
					MPV
				</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cx7" name="chexing" class="cx_radio" />
				<label for="cx7">
					<div class="cx_pic"><img src="__IMG__/cx07.png" alt="" /></div>
					皮卡
				</label>
				<div class="cl"></div>
			</li>
			<div class="cl"></div>
		</ul>
	</div>

	<div class="more_tit">车龄</div>
	<div class="more_bor">
		<ul class="more_list tc">
			<li>
				<input type="radio" id="cl1" name="cheling" class="fast_radio" checked />
				<label for="cl1">不限</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cl2" name="cheling" class="fast_radio" />
				<label for="cl2">1~2年</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cl3" name="cheling" class="fast_radio" />
				<label for="cl3">2~3年</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cl4" name="cheling" class="fast_radio" />
				<label for="cl4">3~4年</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cl5" name="cheling" class="fast_radio" />
				<label for="cl5">4~5年</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cl6" name="cheling" class="fast_radio" />
				<label for="cl6">5~6年</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cl7" name="cheling" class="fast_radio" />
				<label for="cl7">6~7年</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cl8" name="cheling" class="fast_radio" />
				<label for="cl8">7~8年</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="cl9" name="cheling" class="fast_radio" />
				<label for="cl9">8年以上</label>
				<div class="cl"></div>
			</li>
			<div class="cl"></div>
		</ul>
	</div>

	<div class="more_tit">里程</div>
	<div class="more_bor">
		<ul class="more_list tc">
			<li>
				<input type="radio" id="lc1" name="licheng" class="fast_radio" checked />
				<label for="lc1">不限</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="lc2" name="licheng" class="fast_radio" />
				<label for="lc2">1万公里以内</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="lc3" name="licheng" class="fast_radio" />
				<label for="lc3">3万公里以内</label>
				<div class="cl"></div>
			</li>
			<div class="cl"></div>
		</ul>
	</div>

	<div class="more_tit">排量</div>
	<div class="more_bor">
		<ul class="more_list tc">
			<li>
				<input type="radio" id="pl1" name="pailiang" class="fast_radio" checked />
				<label for="pl1">不限</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="pl2" name="pailiang" class="fast_radio" />
				<label for="pl2">1.0L以内</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="pl3" name="pailiang" class="fast_radio" />
				<label for="pl3">1.1L~1.6L</label>
				<div class="cl"></div>
			</li>
			<div class="cl"></div>
		</ul>
	</div>

	<div class="more_tit">排放标准</div>
	<div class="more_bor">
		<ul class="more_list tc">
			<li>
				<input type="radio" id="pf1" name="paifang" class="fast_radio" checked />
				<label for="pf1">不限</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="pf2" name="paifang" class="fast_radio" />
				<label for="pf2">国一及以上</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="pf3" name="paifang" class="fast_radio" />
				<label for="pf3">国二及以上</label>
				<div class="cl"></div>
			</li>
			<div class="cl"></div>
		</ul>
	</div>

	<div class="more_tit">颜色</div>
	<div class="more_bor">
		<ul class="more_list tc">
			<li>
				<input type="radio" id="ys1" name="yanse" class="yanse_radio" checked />
				<label for="ys1">不限</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="ys2" name="yanse" class="yanse_radio" />
				<label for="ys2">
					<div class="yanse_dot" style="background:#000;"></div>
					黑色
				</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="ys3" name="yanse" class="yanse_radio" />
				<label for="ys3">
					<div class="yanse_dot" style="background:#fff;border:#ddd solid 1px;"></div>
					白色
				</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="ys4" name="yanse" class="yanse_radio" />
				<label for="ys4">
					<div class="yanse_dot" style="background:#dcdcdc;"></div>
					银灰色
				</label>
				<div class="cl"></div>
			</li>
			<li>
				<input type="radio" id="ys5" name="yanse" class="yanse_radio" />
				<label for="ys5">
					<div class="yanse_dot" style="background:url(__IMG__/other.png);background-size:.3rem;"></div>
					其他
				</label>
				<div class="cl"></div>
			</li>
			<div class="cl"></div>
		</ul>
	</div>
	<input type="submit" value="确定" class="more_submit" />
</div>
<!--更多 end-->

<script>
	$(function(){
	$(".brand_click").bind("click",function (){
		$(".brand_pos").css("left","0");
		$(".brand_index").show(800);
	});

	$(".brand_close").bind("click",function (){
		$(".brand_pos").css("left","100%");
		$(".brand_index").hide();
	});
	$(".price_click").click(function(){
		$(".car_price").slideToggle(500);
	});
	$(".ai_click").click(function(){
		$(".car_brand").slideToggle(500);
	});
	$(".more_click").bind("click",function (){
		$(".more_pos").css("left","0");
	});

	$(".more_close").bind("click",function (){
		$(".more_pos").css("left","100%");
	});
});
</script>


