<!-- 模板继承 -->
{extend name="template/create" /}
{block name="content"}
<div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title">{:$mate_operate}-{:$mate_title}</h4>
        </div>
        <div class="panel-body panel-body-nopadding">

        <form class="form-horizontal form-bordered" id="submitForm" action="" method="post" >
            
                    <div class="form-group">
            <label class="col-sm-3 control-label"><span>*</span>分类名称：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="分类名称" name="title" value="{$vo.title ?? ''}"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">描述：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="描述" name="intro" value="{$vo.intro ?? ''}" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">排序：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="排序" name="orderid" value="{$Request.param.id|get_orderid}" >
            </div>
        </div>

            <div class="panel-footer">
             <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <input type="hidden" name="id" value="{$vo.id ?? ''}">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">返回</button>
              </div>
             </div>
            </div><!-- panel-footer -->

        </form>
          
</div><!-- panel-body -->
{/block}
{block name="fileinput"}{/block}
{block name="ueditor"}{/block}
{block name="script"}
<script>
$(document).ready(function() {
    

    $('#submitForm').bootstrapValidator({
        message: '这个值是无效的',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
});
</script>
{/block}
