<!-- 模板继承 -->
{extend name="template/create" /}
{block name="content"}
<div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title">{:$mate_operate}-{:$mate_title}</h4>
        </div>
        <div class="panel-body panel-body-nopadding">

        <form class="form-horizontal form-bordered" id="submitForm" action="" method="post" >
        <div class="form-group">
            <label class="col-sm-3 control-label"><span>*</span>编码：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="编码" name="code" value="{$vo.code ?? ''}"  required readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span>*</span>名称：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="名称" name="name" value="{$vo.name ?? ''}"  required>
            </div>
        </div>

        <div class="panel-footer">
         <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <input type="hidden" name="id" value="{$vo.id ?? ''}">
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">返回</button>
          </div>
         </div>
        </div><!-- panel-footer -->

    </form>
          
</div><!-- panel-body -->
{/block}
{block name="fileinput"}{/block}
{block name="ueditor"}{/block}
{block name="script"}
<script>
$(document).ready(function() {


    $('#submitForm').bootstrapValidator({
        message: '这个值是无效的',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
    //select2
    jQuery(".select2").select2({
        width: '100%',
        minimumResultsForSearch: -1
    });
});
</script>
{/block}
