<!-- 模板继承 -->
{extend name="template/create" /}
{block name="content"}
<div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title">{:$mate_operate}-{:$mate_title}</h4>
        </div>
        <div class="panel-body panel-body-nopadding">

        <form class="form-horizontal form-bordered" id="submitForm" action="" method="post" >
        <div class="form-group">
            <label class="col-sm-3 control-label"><span>*</span>名称：</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="名称" name="title" value="{$vo.title ?? ''}"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">分类：</label>
            <div class="col-sm-6">
                    <select name="type_id" class="select2">
                         <option value="">请选择分类</option>
                         {volist name="type" id="vot"}
                          <option value="{$vot.id}">{$vot.title}</option>
                         {/volist}
                    </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图片：</label>
            <div class="col-sm-6">
                <input id="fileone" type="file" class="file-loading">
                <input type="hidden" id="picurl" placeholder="图片" name="picurl" value="{$vo.picurl ?? ''}" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">简介：</label>
            <div class="col-sm-6">
                <textarea class="form-control" placeholder="" name="intro">{$vo.intro ?? ''}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">跳转链接：</label>
            <div class="col-sm-6">
                <input type="url" class="form-control" placeholder="跳转链接" name="linkurl" value="{$vo.linkurl ?? ''}" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">跳转方式：</label>
            <div class="col-sm-6  wh-inline">
                <div class="rdio rdio-primary">
                    <input type="radio" name="target" id="target-1" value="_self">
                    <label for="target-1">自身窗口</label>
                </div>
                <div class="rdio rdio-primary">
                    <input type="radio" name="target" id="target-0" value="_blank">
                    <label for="target-0">新窗口</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-6  wh-inline">
                <div class="rdio rdio-primary">
                    <input type="radio" name="status" id="status-1" value="1">
                    <label for="status-1">启用</label>
                </div>
                <div class="rdio rdio-primary">
                    <input type="radio" name="status" id="status-0" value="0">
                    <label for="status-0">禁用</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">排序：</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" placeholder="排序" name="orderid" value="{$Request.param.id|get_orderid}"  required>
            </div>
        </div>
        {if condition="$Request.action eq 'update'"}
        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-6">
                <label class="control-label"> {$vo.create_time|date='Y-m-d H:i:s',###}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">上次更新：</label>
            <div class="col-sm-6">
                <label class="control-label"> {$vo.update_time|date='Y-m-d H:i:s',###}</label>
            </div>
        </div>
        {/if} 

        <div class="panel-footer">
         <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <input type="hidden" name="id" value="{$vo.id ?? ''}">
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">返回</button>
          </div>
         </div>
        </div><!-- panel-footer -->

    </form>
          
</div><!-- panel-body -->
{/block}
{block name="fileinput"}{__block__}{/block}
{block name="ueditor"}{/block}
{block name="script"}
<script>
$(document).ready(function() {
    $("[name='type_id']").find("[value='{$vo.type_id ?? ''}']").attr("selected", true);
    $("[name='status'][value='{$vo.status ?? '1'}']").attr("checked", true);
    $("[name='target'][value='{$vo.target ?? '_self'}']").attr("checked", true);
    fileinputOne("fileone","picurl");

    $('#submitForm').bootstrapValidator({
        message: '这个值是无效的',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
    //select2
    jQuery(".select2").select2({
        width: '100%',
        minimumResultsForSearch: -1
    });
});
</script>
{/block}
