
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(document).ready(function(e) {
        $("#tubiao").bind("click",function (){
            $("#ceng").toggle(500);
            var height=$(window).height();
            $("#ceng").css(document.body.scrollHeight);
        })
        $("#close").bind("click",function (){
            $("#ceng").toggle(500);
        })
    });
</script>
<!-- 导航菜单 -->

<!--index start-->
<div class="car_search">
	<form action="" method="get">
		<input type="submit" value="" class="fl car_search_btn" />
		<input type="text" placeholder="输入品牌/车型" value="{$name ?? ''}"  name="name" class="fl car_search_inp" />
		<div class="cl"></div>
	</form>
</div>
<ul class="car_type tc">
	<li>
		<a href="javascript:void(0);" class="ai_click">{$ai_title ?? '智能筛选'}</a>
		<div class="car_brand">
			<ul class="tc">
				<li style="width:100%;border-bottom: 1px solid #ececec;padding: 5px;font-size: 15px;">
					<a href="{:url('OldCar/index',['ai'=>'1','base_param'=>$base_param])}" style="display: block;text-align: left; margin-left: 20px;">最新上架</a>
					<div class="cl"></div>
				</li>
				<li style="width:100%;border-bottom: 1px solid #ececec;padding: 5px;font-size: 15px;">
					<a href="{:url('OldCar/index',['ai'=>'2','base_param'=>$base_param])}" style="display: block;text-align: left; margin-left: 20px;">价格最低</a>
					<div class="cl"></div>
				</li>
				<li style="width:100%;border-bottom: 1px solid #ececec;padding: 5px;font-size: 15px;">
					<a href="{:url('OldCar/index',['ai'=>'3','base_param'=>$base_param])}" style="display: block;text-align: left; margin-left: 20px;">价格最高</a>
					<div class="cl"></div>
				</li>
			</ul>
		</div>
	</li>
	<li><a href="javascript:void(0);" class="brand_click">{$brand_title ?? '品牌'}</a></li>
	<li>
		<a href="javascript:void(0);" class="price_click">{$jiage_title ?? '价格'}</a>
		{include file="old_include/jiage" /}
	</li>
	<li><a href="javascript:void(0);" {notempty name="more_title"}style="color: #ff651b;"{/notempty} class="more_click">更多</a></li>
	<div class="cl"></div>
</ul>
<!--
<div class="car_sel">
	<a href="javascript:void(0);">大众<span class="car_sel_close"><img src="__IMG__/icon03.png" alt="" /></span></a>
	<a href="javascript:void(0);">10W~20W<span class="car_sel_close"><img src="__IMG__/icon03.png" alt="" /></span></a>
	<a href="javascript:void(0);">轿车<span class="car_sel_close"><img src="__IMG__/icon03.png" alt="" /></span></a>
	<span class="fr car_sel_empty"><a href="javascript:void(0);">清空</a></span>
</div>
-->
<section class="box_con">
	<ul class="hot_car hot_car111">
		{volist name="car_list" id="car"}
		<li>
			<a href="{:url('OldCar/show',['id'=>$car.id])}">
				<div class="fl hot_car_pic"><img class="show_img" src="{$car.picurl}"/></div>
				<div class="fr hot_car_con">
					<h3>{$car.vehicleName}</h3>
					<span class="grey9">上市时间：{$car.marketDate}</span><br />
					<div class="fl"><span class="org f3">{$car.car_price/10000|round=###,2}万</span> <s class="grey9">新车价：{$car.listPrice}</s></div>
					<div class="fr hot_icon">金融贷款</div>
					<div class="cl"></div>
				</div>
				{switch name="$car.status_buy" }

				{case value="1"}
				<div class="hot_car_pos tc"><div>车辆已预订</div></div>
				{/case}
				{case value="2"}
				<div class="hot_car_pos tc"><div>车辆贷款中</div></div>
				{/case}
				{case value="3"}
				<div class="hot_car_pos tc"><div>车辆已售出</div></div>
				{/case}
				{default /}
				{/switch}
				<div class="cl"></div>
			</a>
		</li>
		{/volist}
	</ul>
	{empty name="car_list"}
	<ul class="hot_car hot_car111">
		<li>未找到匹配车型</li>
	</ul>
	{else/}
		{if condition="$i gt 7"}
			<div class="tc hot_more"><a href="javascript:void(0);" id="xl_more">下拉查看更多></a></div>
		{else/}
			<div class="tc hot_more"><a href="javascript:void(0);" id="xl_more"></a></div>
		{/if}
	{/empty}
	<input type="hidden" id="param_h" value="{$base_param}">
	<input type="hidden" id="param_url" value="{:url('OldCar/index',['base_param'=>$base_param])}">
</section>
<!--index end-->

<!--品牌 start-->
{include file="old_include/brand" /}
<!--品牌 end-->
<!--更多 start-->
{include file="old_include/more"}
<!--更多 end-->
<script>
    $(function(){
        $(".brand_click").bind("click",function (){
            $(".brand_pos").css("left","0");
            $(".brand_index").show(800);
        });

        $(".brand_close").bind("click",function (){
            $(".brand_pos").css("left","100%");
            $(".car_price").hide();
            $(".brand_index").hide();
        });
        $(".price_click").click(function(){
            $(".car_price").slideToggle(500);
            $(".brand_index").hide();
            $(".car_brand").hide();
        });
        $(".ai_click").click(function(){
            $(".car_brand").slideToggle(500);
            $(".car_price").hide();
            $(".brand_index").hide();
        });
        $(".more_click").bind("click",function (){
            $(".more_pos").css("left","0");
        });

        $(".more_close").bind("click",function (){
            $(".more_pos").css("left","100%");
            $(".car_price").hide();
            $(".brand_index").hide();
        });
        $(".brand_con_click").click(function(){
            $(".brand_con").empty();//清空列表
            brand = $(this).attr('brand')
            $.getJSON("{:url('base/getchexi')}", {
                brand         : brand,
            }, function (json) {
                //console.log(json);
                //json = json.data;
                if (json != '' && json != null ) {
                    url = $('#param_url').val();
                    $.each(json, function (index, array) {
                        var str1 = '';

                        if(index == 0){
                            str1 += '<a href="'+url+'?brand='+array['p_pinpai_id']+'"> <li>不限车型</li></a>';
                        }
                        href = '<a href="'+url+'?chexi_id='+array['p_chexi_id']+'">'
                        str1 += href+'<li>'+array['p_chexi']+'</li></a>'

                        $(".brand_con").append(str1);
                    });
                } else {

                    $(".brand_con").append('<li>暂无可用车型</li>');
                    return false;
                }
            });
            $(".brand_wrap").css("left","0");
            $(".brand_wrap_close").css("left","2%")
        });
        $(".brand_wrap_close,.brand_wrap").click(function(){

            $(".brand_wrap").css("left","100%");
            $(".brand_wrap_close").css("left","-10%")
        });
    });

    var Lock = 1;
    $(document).ready(function () {
        var winH = $(window).height();
        var i = 2;
        $(window).scroll(function () {

            var pageH = $(document.body).height();
            var scrollT = $(window).scrollTop();
            param = $('#param_h').val();
            //console.log(Lock);

            if (Lock &&  $(document).height() == $(window).height() + $(window).scrollTop() ) {
                //console.log("---");
                Lock = 0;
                $('#xl_more').text('正在加载...');
                $.getJSON("{:url('OldCar/index')}", {
                    page       : i,
                    base_param : param,
                    aj         : 1,
                }, function (json) {

                    json = json.data;
                    //console.log(json);
                    if (json != '' && json != null ) {

                        i++;

                        $.each(json, function (index, array) {
                            var str = "";

                            url = '{:url('OldCar/show', '', '')}?id=' + array['id'] + '';
                            str +='<li><a href="'+url+'">';
                            str +='<div class="fl hot_car_pic"><img class="show_img" src="'+array['picurl']+'"/></div>';
                            str +='<div class="fr hot_car_con">';
                            str +='<h3>'+array['vehicleName']+'</h3>';
                            str +='<span class="grey9">上市时间：'+array['marketDate']+'</span><br />';
							car_price   = array['car_price']/10000;
							car_price_w = Math.floor(car_price * 100) / 100 ;
                            str +='<div class="fl"><span class="org f3">'+car_price_w+'万</span> <s class="grey9">新车价：'+array['listPrice']+'</s></div>';
                            str +='<div class="fr hot_icon">金融贷款</div>';
                            str +='<div class="cl"></div></div>';
							if(array['status_buy'] == 1){
								str +='<div class="hot_car_pos tc"><div>车辆已预订</div></div>';
							}else if(array['status_buy'] == 2){
								str +='<div class="hot_car_pos tc"><div>车辆贷款中</div></div>';
							}else if(array['status_buy'] == 3){
								str +='<div class="hot_car_pos tc"><div>车辆已售出</div></div>';
							}						
							
                            str +='<div class="cl"></div></a></li>';

                            $(".hot_car111").append(str);
                            $('.hot_more').show();
                            Lock = 1;
                        });
                        $('#xl_more').text('下拉查看更多>');
                    } else {
                        $('#xl_more').text('没有更多内容');
                        Lock = 0;
                        return false;
                    }
                });
            }
        });
    });
</script>