<!DOCTYPE html>



<html lang="zh_cn">



<head>



  <meta charset="utf-8">



  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">



  <meta name="description" content="">



  <meta name="author" content="">



  <link rel="shortcut icon" href="__CONSOLE__/images/favicon.png" type="image/png">







  <title>{block name="title"}{$mate_title}-{$Think.config.web_config.web_name}{/block}</title>



  



  <link href="__CONSOLE__/css/style.default.css" rel="stylesheet">



  <!--   sweetalert弹出样式 -->



  <link href="__PLUGIN__/sweetalert/css/sweetalert.css" rel="stylesheet">



  <link href="__PLUGIN__/Fileinput/css/fileinput.css" rel="stylesheet">



  {block name="css"}{/block}



  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->



  <!--[if lt IE 9]>



  <script src="__CONSOLE__/js/html5shiv.js"></script>



  <script src="__CONSOLE__/js/respond.min.js"></script>



  <![endif]-->



  



</head>



<body>



<!-- Preloader -->



<div id="preloader">



    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>



</div>



<section>



  



{include file="template:sidebar" /}



  



  <div class="mainpanel">



    



    {include file="template:topbar" /}



    



    <div class="pageheader">



      <h2><i class="fa fa-edit"></i> {$mate_title} <span>{$mate_operate}</span></h2>



      <div class="breadcrumb-wrapper">



        <span class="label">现在所在位置:</span>



        <ol class="breadcrumb">



          <li>{$mate_title} </li>



          <li class="active">{$mate_operate}</li>



        </ol>



      </div>



    </div>



    <div class="contentpanel">



         {block name="content"}{/block}



    </div><!-- contentpanel -->



  </div><!-- mainpanel -->



  



  



</section>







<script src="__CONSOLE__/js/jquery-1.11.1.min.js"></script>



<script src="__CONSOLE__/js/jquery-migrate-1.2.1.min.js"></script>



<script src="__CONSOLE__/js/bootstrap.min.js"></script>



<script src="__CONSOLE__/js/modernizr.min.js"></script>



<script src="__CONSOLE__/js/jquery.sparkline.min.js"></script>



<script src="__CONSOLE__/js/toggles.min.js"></script>



<script src="__CONSOLE__/js/retina.min.js"></script>



<script src="__CONSOLE__/js/jquery.cookies.js"></script>







<script src="__CONSOLE__/js/select2.min.js"></script>



<script src="__CONSOLE__/js/custom.js"></script>



<script src="__PLUGIN__/sweetalert/js/sweetalert.min.js"></script>



<!-- 时间控件 -->



<script src="__PLUGIN__/datepicker/WdatePicker.js"></script>



<!-- 验证 -->



<script src="__CONSOLE__/js/bootstrapValidator.js"></script>



{block name="fileinput"}



<!-- 图片上传 -->



<script src="__PLUGIN__/Fileinput/js/fileinput.js"></script>



<script>



//单图上传



function fileinputOne(fileid,field){



      var widths = arguments[2] ? arguments[2] : 'auto';//设置默认的图片宽度



      var heights = arguments[3] ? arguments[3] : '160px';//设置默认的图片高度



      //单图上传



      var $input = $("#"+fileid);



      var $picurl = $("#"+field); 



        



      var $Preview =[];



      var $Config =[];



      if($picurl.val()!=''){



         $Preview =["<img class='kv-preview-data file-preview-image' style='width:"+widths+";height:"+heights+";' src='__ROOT__"+$picurl.val()+"'>"];



         $Config =[{key: 1}];



      }



      $input.fileinput({



          uploadUrl: "{:url('shop/common/Upload')}",



          deleteUrl: "{:url('shop/common/updel')}",



          autoReplace: true,



          overwriteInitial: true,



          showUploadedThumbs: false,



          maxFileCount: 1,



          initialPreview: $Preview,



          initialPreviewConfig: $Config,



          layoutTemplates: {actionDelete: ''}, 



      }).on("filebatchselected", function(event, files) {



          $input.fileinput("upload");//选择后自动上传



      }).on('fileuploaded', function(event, data,previewId,index) {



           //alert(JSON.stringify(data));



           var dataObj=eval("("+data.response+")");



           if(dataObj['code']==0)



             {  



                 $picurl.val(dataObj['img']);



             }



           else{



                swal("出错了", "上传失败,请刷新再试", "error");



             }



      }).on("filecleared", function(event, files) {



             $picurl.val('');



      });







}



//组图上传



function fileinputMore(fileid,picurlname,field){



      var widths = arguments[3] ? arguments[3] : 'auto';//设置默认的图片宽度



      var heights = arguments[4] ? arguments[4] : '160px';//设置默认的图片高度



      //组图上传



      var $input = $("#"+fileid);



      var $picimg = $("input[name='"+picurlname+"']");







      var $Preview =[];



      var $Config =[];



      $picimg.each(function(i,e){



         $Preview.push("<img class='kv-preview-data file-preview-image' style='width:"+widths+";height:"+heights+";' src='__ROOT__"+$(this).val()+"'>");



         $Config.push({caption: $(this).attr('flag'),show: $(this).attr('show'),size:0,url:"<input type='hidden' name='"+field+"' value='"+$(this).val()+"'>", key: i});







      });







      var footerTemplate = '<div class="file-thumbnail-footer">\n' +



      '   <div style="margin:5px 0">\n' +



      '       <input type="text" class="hidden" value="{show}" name="show[]"><input class="kv-input kv-new form-control input-sm text-center" value="{caption}" placeholder="填写注释" name="info[]">\n' +



      '   </div>\n' +



      '   <button type="button" class="kv-file-forward text-info header-left" title="前移"><i class="glyphicon glyphicon-chevron-left"></i></button>\n' +



      '   &nbsp;{size}&nbsp;\n' +



      '   <button type="button" class="kv-file-backward text-danger header-right" title="后移"><i class="glyphicon glyphicon-chevron-right"></i></button>\n' +



      '   <button type="button" class="kv-file-heart text-danger header-left" title="显示隐藏"><i class="glyphicon glyphicon-heart{show}"></i></button>\n' +



      '   {actions}\n' +



      '</div>';







        $input.fileinput({



          uploadUrl: "{:url('shop/common/ossUpload')}",



          deleteUrl: "{:url('shop/common/updel')}",



          autoReplace: false,



          overwriteInitial: false,



          layoutTemplates: {footer: footerTemplate, size: '<samp><small>({sizeText})</small></samp>'},



          initialPreview: $Preview,



          initialPreviewConfig: $Config,



      }).on("filebatchselected", function(event, files) {



          $input.fileinput("upload");//选择后自动上传



      }).on('fileuploaded', function(event, data,previewId,index) {



            var dataObj=eval("("+data.response+")");



             if(dataObj['code']==0)



             { 



                 $('#'+previewId).append("<input type='hidden' name='"+field+"' value='"+dataObj['img']+"'>");



             }



             else{



                swal("出错了", "上传失败,请刷新再试", "error");



             }



      });



}



</script>



{/block}



{block name="ueditor"}



<!-- ueditor -->



<script type="text/javascript" charset="utf-8" src="__PLUGIN__/ueditor/ueditor.config.js"></script>



<script type="text/javascript" charset="utf-8" src="__PLUGIN__/ueditor/ueditor.all.min.js"> </script>



<script type="text/javascript" charset="utf-8" src="__PLUGIN__/ueditor/lang/zh-cn/zh-cn.js"></script>



{/block}



{block name="js"}{/block}



{block name="script"}{/block}







{include file="template:footer" /}



</body>







</html>