<!--顶部导航-->
{include file="public/header" /}
<!--顶部导航-->
<style>
    .product{
        padding: 0;
    }
    .product .pro_right .name{
        background: none !important;
        padding:0 !important;
    }
    .product .pro_right{
        width: 4.1rem;
    }
    .product .left_img{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 0.15rem;
    }
    .product .pro_right .gg{
        margin-top: 0;
    }
    .product .pro_right .gg span{
        margin-left: 0.5rem;
    }
    .product .pro_right .price span{
        font-size: 0.3rem;
        margin-left: 0;
    }
    .product .pro_right .price .num{
        font-size: 0.26rem;
        color: #4c4c4c;
        float: right;
        line-height: 0.5rem;
    }
    .jia_close_btn {
        display: block;
        margin: 0.3rem auto 0;
        width: 1.8rem;
        height: 0.6rem;
        border: none;
        font-size: 0.26rem;
        color: #fff;
        background: #269ce3;
        border-radius: 0.15rem;
    }
</style>
<body>
<div class="wrap">
    <header>
        <img src="__HOME__/img/back_btn_03.png" class="back_btn" onclick="user_index()">
        <script>
            function user_index() {
                window.location.href="{:url('home/user/index')}";
            }
        </script>
        <p class="title">我的订单</p>
        <a href="{:url('orders/search')}" class="fx"><img style="width: 0.4rem" src="__HOME__/img/search_img_03.png"></a>
        <!--<span class="right_span"><img style="width: 0.4rem" src="__HOME__/img/search_img_03.png"></span>-->
    </header>
    <div class="order_all">
        <div class="order_nav">
            <ul>
                <li>
                    <a href="{:url('home/orders/index',array('status'=>11))}" class="order_all_a_style">全部</a>
                </li>
                <li>
                    <a href="{:url('home/orders/index',array('status'=>111))}">待付款</a>
                </li>
                <li>
                    <a href="{:url('home/orders/index',array('status'=>1))}">待发货</a>
                </li>
                <li>
                    <a href="{:url('home/orders/index',array('status'=>2))}">待收货</a>
                </li>
                <li>
                    <a href="{:url('home/orders/index',array('status'=>3))}">待评价</a>
                </li>
                <li>
                    <a href="{:url('home/orders/index',array('status'=>4))}">退货/退款</a>
                </li>
            </ul>
        </div>
        <div class="order_content">
            <!--全部-->
            <div class="order1">
                {volist name="list" id="vo"}
                <div class="order1_1">
                    <div class="name">
                        <div class="check_nm">
                        </div>
                        <p class="name1"><span>{$vo.title}</span><img src="__HOME__/img/right_img_03.png"></p>
                        {switch name="vo.status"}
                        {case value="0"}
                        <p class="zt">等待买家付款</p>
                        {/case}
                        {case value="1"}
                        <p class="zt_p">买家已付款，待卖家发货</p>
                        {case value="5"}
                        <p class="zt">退款中</p>
                        {/case}
                        {case value="7"} <p class="zt">退款失败</p>{/case}
                        {case value="8"} <p class="zt">退货中</p>{/case}
                        {case value="9"} <p class="zt">退货失败</p>{/case}
                        {default /}
                        {/switch}
                    </div>
                    <ul class="product">
                        {volist name="vo.orderlist" id="vv"}
                        <li>
                            <img src="{$vv.goods_picurl}" alt="" class="left_img">
                            <div class="pro_right">
                                <p class="name">{$vv.goods_title}</p>
                                <p class="gg">{$vv.goods_attr}</p>
                                <div class="price"><span>￥{$vv.goods_price}</span><span class="num">×{$vv.num}</span></div>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                    <div class="button_div">
                        {switch name="vo.status"}
                        {case value="0"}
                        <a href="#" style="background: #269ce3;color: #fff" onclick="show_pay('{$vo.order_sn}','{$vv.goods_price}')">去支付</a>
                        <a href="#" onclick="qx('{$vo.order_sn}')">取消订单</a>
                        {/case}
                        {case value="1"}
                        <p class="zt_p">买家已付款，待卖家发货</p>
                        <a href="#" style="background: #f6a74d;color: #fff" onclick="refund_money('{$vo.order_sn}')">申请退款</a>
                        {/case}
                        {case value="2"}
                        <a href="#" style="background: #269ce3;color: #fff" onclick="take_goods('{$vo.order_sn}')">确认收货</a>
                        <a href="#" style="background: #f6a74d;color: #fff" onclick="refund_goods('{$vo.order_sn}')">申请退货</a>
                        <a href="#" style="background: #f34343;color: #fff">查看物流</a>
                        {/case}
                        {case value="3"}
                        <a href="{:url('orders/comment',['order_sn'=>$vo.order_sn])}" style="background: #4d86db;color: #fff">去评价</a>
                        {/case}
                        {case value="4"}订单已完成{/case}
                        {case value="5"}
                        <p class="zt_p">已申请退款，待处理</p>
                        <a href="#" style="background: #4d86db;color: #fff" onclick="take_goods('{$vo.order_sn}')">确认收货</a>
                        {/case}
                        {case value="7"}
                        <p class="zt_p">退款申请被拒绝</p>
                        {/case}
                        {case value="8"}
                        <p class="zt_p">已申请退货，待处理</p>
                        {/case}
                        {case value="9"}退货失败{/case}
                        {default /}default
                        {/switch}
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>
<div class="join_shopcar_layer">
    <div class="pay_choose" style="padding-bottom: 0.2rem">
        <p class="title">选择支付方式</p>
        <ul>
            <li>
                <img src="__HOME__/img/pay_logo_03.png" class="logo">
                <p>微信支付</p>
                <div class="check_nm">
                    <input type="radio" id="input1" name="radio1" value="1">
                    <label for="input1"></label>
                </div>
            </li>
            <!--<li>-->
                <!--<img src="__HOME__/img/pay_logo_06.png" class="logo">-->
                <!--<p>支付宝支付</p>-->
                <!--<div class="check_nm">-->
                    <!--<input type="radio" id="input2" name="radio1" value="2">-->
                    <!--<label for="input2"></label>-->
                <!--</div>-->
            <!--</li>-->
            <li>
                <img src="__HOME__/img/pay_logo_09.png" class="logo" >
                <p>线下支付</p>
                <div class="check_nm">
                    <input type="radio" id="input3" name="radio1" value="3">
                    <label for="input3"></label>
                </div>
            </li>
        </ul>
        <button type="button" class="jia_close_btn">取消</button>
    </div>
</div>
</div>
</body>
</html>
<script>

    function show_pay(order_sn,goods_price){
        $(".join_shopcar_layer").show();
        $(".jia_close_btn").click(function(){
            $(".join_shopcar_layer").hide();
        });
        $("#input1").click(function(){
            setTimeout(function () {
                window.location.href = "{:url('home/Wxpay/index')}?order_sn=" + order_sn+"&goods_price=" + goods_price + "&attach=2";
            }, 2000);
        })
        // $("#input2").click(function(){
        //     var paytype =$(this).val();
        //     setTimeout(function () {
        //         window.location.href = "{:url('home/Alipay/pay')}?order_sn=" + order_sn + "&type="+2;
        //     }, 2000);
        // })
        $("#input3").click(function(){
            var paytype =$(this).val();
            $.ajax({
                url: "{:url('orders/online')}",
                type: 'post',
                dataType: 'json',
                data:{order_sn:order_sn,type:2},
                success: function (data) {
                    if(data.code==200){
                        layer.msg('成功!', {
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(data.message);
                    }
                }
            });
        })
    }
    /*取消订单*/
    function qx(order_sn){
        $.ajax({
            url: "{:url('orders/order_del')}",
            type: 'post',
            dataType: 'json',
            data:{order_sn:order_sn},
            success: function (data) {
                if(data.code==200){
                    layer.msg('取消成功!', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg(data.message);
                }
            }
        });
    }
    /*确认收货*/
    function take_goods(order_sn){
        $.ajax({
            url: "{:url('orders/order_del')}",
            type: 'post',
            dataType: 'json',
            data:{order_sn:order_sn},
            success: function (data) {
                if(data.code==200){
                    layer.msg('收货成功!', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg(data.message);
                }
            }
        });
    }
    /*退货*/
    function refund_goods(order_sn){
        window.location.href="{:url('orders/refund_goods')}?ordersn="+order_sn;
    }
    /*退款*/
    function refund_money(order_sn){
        window.location.href="{:url('orders/refund_money')}?ordersn="+order_sn;
    }
</script>