<form method="post" action="">

<div class="more_pos">
    <div class="brand_tit fb tc">更多<a href="#" class="more_close"><img src="__IMG__/sj02.png"/></a></div>
    {volist name="more_type" id="m_type"}
        <div class="more_tit">{$m_type.title}</div>
        <div class="more_bor">
            <ul class="more_list tc">

                <li>
                    <input type="radio" id="{$m_type.en_name}0" value="0" name="{$m_type.en_name}" {if condition="$m_type.id eq 1"} class="cx_radio" {else/} class="fast_radio"{/if} />

                    <label for="{$m_type.en_name}0">
                        {if condition="$m_type.id eq 1"}
                        <div class="cx_pic"><img src="__IMG__/buxian.png" alt="" /></div>
                        {/if}
                        不限
                    </label>
                    <div class="cl"></div>
                </li>
                
                {volist name="$m_type['data']" id="m_data"}
                    <li>
                        <input type="radio" id="{$m_type.en_name}{$i}" name="{$m_type.en_name}" value="{$m_data.id}" {if condition="$m_data.parentid eq 1"} class="cx_radio" {else/} class="fast_radio"{/if} {notempty name="$post_data[$m_type.en_name]"} {if condition="$post_data[$m_type.en_name] eq $m_data.id"} checked {/if} {/notempty}/>
                        <label for="{$m_type.en_name}{$i}">
                            {if condition="$m_data.parentid eq 1"}
                            <div class="cx_pic"><img src="{$m_data.picurl}" alt="" /></div>
                            {$m_data.title}
                            {elseif condition="$m_data.parentid eq 6"}
                            <div class="yanse_dot" style="background:#{$m_data.en_name};border: 1px solid #adadad;"></div>
                            {$m_data.title}色
                            {else/}
                            {$m_data.title}
                            {/if}
                        </label>
                        <div class="cl"></div>
                    </li>
                {/volist}
                {if condition="$m_type.id eq 6"}
                <!--  <li>
                     <input type="radio" id="yanse0" name="yanse" class="yanse_radio" />
                     <label for="yanse0">
                         <div class="yanse_dot" style="background:url(__IMG__/other.png);background-size:.3rem;"></div>
                         其他
                     </label>
                     <div class="cl"></div>
                 </li>-->
             {/if}
             <div class="cl"></div>
         </ul>
     </div>
 {/volist}

 <input type="submit" value="确定" class="more_submit" />
</div>

</form>