<!-- 模板继承 -->
{extend name="template/create" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
        </div>
        <h4 class="panel-title">{:$mate_operate}-{:$mate_title}</h4>
    </div>
    <div class="panel-body panel-body-nopadding">

        <form class="form-horizontal form-bordered" id="submitForm" action="" method="post">


            <div class="form-group">
                <label class="col-sm-3 control-label">车行名称:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="title" placeholder="品牌名称"
                           value="{$vo.title ?? ''}">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">首字母：</label>
                <div class="col-sm-6">
                    <select name="shouzimu" class="select2">
                        <option value="letters">请选择首字母</option>
                        {volist name="letters" id="info"}
                        <option value="{$info.name}" {notempty name="$vo.shouzimu"} {if condition="$vo.shouzimu eq $info.name"} selected{/if} {/notempty}>{$info.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>


            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="hidden" name="id" value="{$vo.id ?? ''}">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                </div>
            </div><!-- panel-footer -->

        </form>

    </div><!-- panel-body -->
</div>
{/block}
{block name="fileinput"}{__block__}{/block}
{block name="ueditor"}{__block__}{/block}
{block name="js"}
<script src="__CONSOLE__/js/descates.js"></script>
{/block}
{block name="script"}
<script>
    $(document).ready(function () {


        $("[name='status'][value='{$vo.status ?? '1'}']").attr("checked", true);
        $("[name='typeid']").find("[value='{$vo.typeid ?? ''}']").attr("selected", true);
        $("[name='firstletter']").find("[value='{$vo.firstletter ?? ''}']").attr("selected", true);


        $('#submitForm').bootstrapValidator({
            message: '这个值是无效的',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                mobile: {
                    validators: {
                        regexp: {
                            regexp:/^1[34578]\d{9}$/,
                            message: '手机号格式不正确'
                        }
                    }
                },
            }
        });
        //select2
        jQuery(".select2").select2({
            width: '100%',
            minimumResultsForSearch: -1
        });
    });
    $("[name='level_id']").live('change', function () {
        $(".more").css("display", 'block')
        $(".one").css("display", 'block')
    });


</script>
{/block}

