<!-- 模板继承 -->
{extend name="template/create" /}
{block name="content"}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns">
            <a href="" class="panel-close">&times;</a>
            <a href="" class="minimize">&minus;</a>
        </div>
        <h4 class="panel-title">{:$mate_operate}-{:$mate_title}</h4>
    </div>
    <div class="panel-body panel-body-nopadding">

        <form class="form-horizontal form-bordered" id="submitForm" action="" method="post">


            <div class="form-group">
                <label class="col-sm-3 control-label">标题:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="title" placeholder="标题"
                           value="{$vo.title ?? ''}" required>
                </div>
            </div>

            {if condition="$Request.action eq 'update'"}

            <div class="form-group">
                <label class="col-sm-3 control-label">发布人:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="发布人"
                           value="{$vo.user_id | show_username = $vo.user_id ?? ''}" readonly>
                </div>
            </div>
            {/if}

            <div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>所在地：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="所在地" name="address" value="{$vo.address ?? ''}"
                           required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><span>*</span>买卖：</label>
                <div class="col-sm-6">
                    <select class="select2" name="state"  required>
                        <option value=""> --请选择--</option>
                        <option value="1">求购</option>
                        <option value="2">供应</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">图文详情：</label>
                <div class="col-sm-6">
                    <textarea class="form-control" placeholder="" name="content"
                              id="container">{$vo.content ?? ''}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-6 wh-inline">
                    <div class="rdio rdio-primary">
                        <input type="radio" name="status" id="status-1" value="1">
                        <label for="status-1">启用</label>
                    </div>
                    <div class="rdio rdio-primary">
                        <input type="radio" name="status" id="status-0" value="0">
                        <label for="status-0">禁用</label>
                    </div>
                </div>
            </div>

            {if condition="$Request.action eq 'update'"}

            <div class="form-group">
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-6">
                    <label class="control-label"> {$vo.create_time}</label>
                </div>
            </div>

            {/if}
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="hidden" name="id" value="{$vo.id ?? ''}">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);">返回</button>
                    </div>
                </div>
            </div><!-- panel-footer -->

        </form>

    </div><!-- panel-body -->
</div>
{/block}
{block name="fileinput"}{__block__}{/block}
{block name="ueditor"}{__block__}{/block}
{block name="js"}
<script src="__CONSOLE__/js/descates.js"></script>
{/block}
{block name="script"}
<script>
    $(document).ready(function () {


        $("[name='status'][value='{$vo.status ?? '1'}']").attr("checked", true);
        $("[name='typeid']").find("[value='{$vo.typeid ?? ''}']").attr("selected", true);
        $("[name='pro']").find("[value='{$vo.pro ?? ''}']").attr("selected", true);
        $("[name='state']").find("[value='{$vo.state ?? ''}']").attr("selected", true);

        fileinputOne("fileone", "picurl");
        var ue = UE.getEditor("container", {initialFrameWidth: null});

        $('#submitForm').bootstrapValidator({
            message: '这个值是无效的',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                saleprice: {
                    validators: {
                        regexp: {
                            regexp: /^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/,//金额验证
                            message: '金额格式不正确'
                        }
                    }
                },
                marketprice: {
                    validators: {
                        regexp: {
                            regexp: /^(0|[1-9][0-9]{0,9})(\.[0-9]{1,2})?$/,//金额验证
                            message: '金额格式不正确'
                        }
                    }
                }
            }
        });
        //select2
        jQuery(".select2").select2({
            width: '100%',
            minimumResultsForSearch: -1
        });
    });
    $("[name='level_id']").live('change', function () {
        $(".more").css("display", 'block')
        $(".one").css("display", 'block')
    });


</script>
{/block}

